[2014-03-17 18:26] kylef opened #1 "Generate an embedded framework or framework for a spec"
On iOS this should generate an embedded framework, on OS X it can just generate an ordinary framework.

This should generate a podspec for consuming the generate framework too.
### Example usage:

[code]

And the generated podspec:

[code]

TODO list for this:
- [x] Build static libraries for all platforms and architectures
- [ ] Fix CocoaPods/CocoaPods#1767 so that there are no issues with `PodsD

[2014-04-03 18:16] KrauseFx opened #2 "Update Readme"
Hi @kylef
Thanks for working on this, this looks great. I'd love to support you, but could you please provide a bit more information about the setup and how to get this to run?

I did the following already:
Build the gem: 'gem build cocoapods-packager.gemspec'
Install it: 'sudo gem install cocoapods-packager'

What's next? What am I missing?
Thanks

[2014-04-03 18:21] #2 closed, assigned to nobody

[2014-05-01 19:51] neonichu opened #3 "Build just a static library"
In addition to the frameworks described in #1, this plugin should also be able to just build a static library for all relevant architectures. I am thinking of a switch like `--library-only` only or something like that.

Other possibility: build a library by default and have a `--framework` switch to build the framework.

Opinions?

[2014-05-02 21:28] neonichu opened #5 "How to handle multiple platforms?"
Do we generate two sets of artifacts or will a platform argument be required?

[2014-05-14 14:11] segiddins opened #6 "Provide symbol mangling for dependencies"
CocoaPods should be usable for companies that want to distribute binary builds (for the purpose of keeping the source private) of their pods directly, while still maintaining the dependency resolution flexibility we have now from raw source.

The packager should be able to package up _just_ the source files specified in the podspec, without including other dependencies specified in the spec. In th

[2014-07-14 21:35] #6 closed, assigned to neonichu

[2014-07-15 15:10] kylef opened #7 "Ability to package sub-specs separately"
[code]

[2014-07-15 16:55] kylef opened #8 "Ability to package multiple specs"
This rolls on from #7 and would be super simple considering this just chucks the arguments in a Podfile.

So, here's an example:

[code]

[code]

[2014-07-16 00:42] segiddins opened #9 "Randomly mangled symbols"

[2014-07-16 01:25] neonichu opened #10 "Do not operate on local podspec"
As one should only ship binaries for release versions, there is no need to operate on a local podspec and it only complicates things because the optionally generated podspec will name clash with the source one.

[2014-07-16 01:28] segiddins opened #11 "Perform build in a temporary directory"
That way, if a `Podfile.lock` is already in the directory, it isn't overwritten. The same goes for the `podspec`.

[2014-07-16 01:29] segiddins opened #12 "Preserve podspec `social_media_url`"

[2014-07-16 01:42] neonichu opened #13 "Support `header_mappings_dir`"
At the moment, only headers in the root of the public headers directory of the main Pod are copied.

[2014-07-16 02:23] #13 closed, assigned to nobody

[2014-07-16 10:51] kylef opened #14 "Option to not mangle framework"
I'm not sure why I'd want to mangle my framework. We should provide an option not to (and I don't see why this wouldn't be the default).

[code]

[2014-07-16 10:54] kylef opened #15 "Generated podspec should .to_s things that should be strings"
This generated an invalid podspec for me which looked like the following:

[code]

I used something like this:

[code]

Which is valid as far as CocoaPods is concerned. https://github.com/CocoaPods/Core/commit/6af9a003df5e6147a4438eb7c061cbd8f901c5b7

[2014-07-16 21:26] #5 closed, assigned to neonichu

[2014-07-16 21:37] #11 closed, assigned to neonichu

[2014-07-16 22:14] #15 closed, assigned to neonichu

[2014-07-18 21:25] #14 closed, assigned to neonichu

[2014-07-18 22:35] #1 closed, assigned to neonichu

[2014-07-19 00:17] neonichu opened #16 "Write tests"

[2014-07-19 11:49] #3 closed, assigned to neonichu

[2014-07-19 12:29] #12 closed, assigned to neonichu

[2014-07-20 21:51] neonichu opened #17 "Merge interesting bits from cocoapods-archive"
Their repo is over here https://github.com/braintreeps/cocoapods-archive.

Let's discuss what's it doing what packager isn't and how the two can fit together.

[2014-07-22 02:33] neonichu opened #18 "If sub specs have dependencies but root spec doesn't, symbol mangling is not active"
Can be verified by packaging `ARAnalytics`

[2014-07-22 03:15] neonichu opened #19 "Abort if build with symbol mangling contains any binary-only Pods"
As the symbol mangling relies on preprocessor defines, it cannot work with binary-only Pods. The user should be informed about this and the packaging should be aborted.

[2014-07-22 08:09] kylef opened #21 "Generate JSON specs not Ruby specs"
https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/spec_builder.rb.

[2014-07-24 23:04] mickeyreiss opened #22 "Show error message if specified pod is a valid file but not a valid pod/podspec"
`pod package path/to/directory` or `pod package path/to/random/file` both result in a stack trace.

For a directory:

[code]

For a file that is not a podspec:

[code]

I'd expect these cases to result in an error message with usage instructions.

[2014-07-25 17:33] mickeyreiss opened #23 "Add `--no-pod` option to output artifacts appropriate for developers who don't use CocoaPods"
`cocoapods-packager` is a huge help when automating a release process aimed at integrators who do not use CocoaPods. A `--no-pod` option would be a big help in that the generated artifacts would be 100% ready for distribution.
- [ ] Accept `--no-pod` argument
- [ ] Do not generate a `.podspec`
- [ ] Generate an `xcconfig` file
- [ ] Insert a comment containing the Pod's name, author and version in

[2014-07-25 17:35] mickeyreiss opened #24 "Improve README"
- Consider porting some of the copy from https://github.com/braintreeps/cocoapods-archive/blob/master/README.md
- Consider a demo gif/video

[2014-07-25 17:43] mickeyreiss opened #25 "Generate a README file for the packaged pod"
Generate a README.md in the output directory with generic integration instructions (and would comply with --no-pod option proposed in #23) because basically everybody writes up the same spiel about "you should use CocoaPods, but if you don't, here are the basic integration instructions"

Consider porting some of the structure from [braintreeps/cocoapods-archive](https://github.com/braintreeps/coco

[2014-07-25 17:45] mickeyreiss opened #26 "Add support for `spec.vendored_{libraries,frameworks}`"
If `vendored_libraries` or `vendored_frameworks` are specified in the podspec, they should be compiled into the generated static library just like source files.

[2014-07-28 08:13] #24 closed, assigned to nobody

[2014-07-29 08:15] #17 closed, assigned to nobody

[2014-08-13 11:53] RobNielsen515 opened #28 "builder.rb causes conflict with builder gem"
When I require 'builder', Ruby loads the builder.rb file from cocoapods-packager instead of loading the builder gem. The cocoapods-packager builder.rb should be loaded via a namespace directory to avoid this conflict e.g. require "cocoapods-packager/builder"

It is a general convention that gems have a folder within the lib directory to house files that might cause conflicts with other parts of th

[2014-08-19 14:50] #28 closed, assigned to neonichu

[2014-08-19 18:24] dzenbot opened #30 "can't open input file: Pods/build/package.a (No such file or directory)"
I'm getting a fatal error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/lipo: can't open input file: Pods/build/package.a (No such file or directory)

The framework is still being created, but it doesn't include the static library.
I'm getting `error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: no files s

[2014-08-19 20:37] #30 closed, assigned to nobody

[2014-08-22 20:36] MaximusMcCann opened #31 "Duplicate Symbols on multiple dependent pods"
Would like to include two frameworks via cocoapods, but one is dependent on the other.  pod package of both and adding them to the project yields a duplicate symbol error.  Can't figure out how to access subspecs' symbols from one framework.  Would like to be able to include/add the highest level framework and access it's dependencies to avoid this situation.

Cheers

[2014-08-24 16:25] #22 closed, assigned to neonichu

[2014-08-24 17:16] #16 closed, assigned to neonichu

[2014-08-24 17:39] #18 closed, assigned to neonichu

[2014-08-24 17:42] #10 closed, assigned to neonichu

[2014-09-05 18:24] smistry-toushay opened #32 "podspec with path source does not build"
I'm trying to avoid committing to Git prior to building a .framework using CocoaPods packager for local testing by setting `s.source = { :path => <path to source folder> }` however I get the following error:

[code]

I've create a sample here: https://github.com/smistry-toushay/cocoapods-packager-path-spec-test

The value for `path` in the podspec needs to be replaced with where the sample repo is

[2014-09-09 23:35] #19 closed, assigned to neonichu

[2014-09-09 23:48] #32 closed, assigned to neonichu

[2014-09-09 23:57] #31 closed, assigned to nobody

[2014-09-10 20:45] #7 closed, assigned to kylef

[2014-09-10 20:47] #8 closed, assigned to nobody

[2014-09-11 21:38] segiddins opened #33 "Update to use CLAide::Argument"

[2014-09-13 08:34] #33 closed, assigned to nobody

[2014-09-17 17:34] #9 closed, assigned to nobody

[2014-09-17 21:24] blakewatters opened #34 "Packager no longer includes Resource Bundles"
Somewhere along the line in iteration toward 1.0.0 support the resource bundles support was broken. When I package my project as an embedded framework the Resources directory is being created but the bundle is not populated

[2014-09-18 16:55] #34 closed, assigned to neonichu

[2014-09-18 17:14] neonichu opened #35 "Change specs, so that they work offline."
Currently, Pods are downloaded over the network which makes the suite take unnecessarily long and also fail often on Travis.

[2014-09-18 23:52] blakewatters opened #36 "Private Specs Repos Cannot be Packaged in v1.0.1"
The v1.0.1 tag is incompatible with the current release version of CocoaPods. If you update to the CocoaPods pre-release to fix that, then the packager can’t bundle your private spec repos because it only looks for pods from the master specs repo.

[2014-09-26 17:09] #36 closed, assigned to segiddins

[2014-10-05 06:53] RaistlinKong opened #39 "failed to package project depends on RestKit"
in RestKit since 0.21 in RestKit.podspec changed to:

[code]

and generate below in  Pods-RestKit-prefix.pch

[code]

when pod install with target project, below code added to Pods-envrionmen.h

[code]

These mechanism make the Rest flexible to install with or without CoreData part. but when using with pod package, installed with target set to false, only empty Pods-envrionment.h generated, and th

[2014-10-05 07:35] #39 closed, assigned to nobody

[2014-10-10 10:26] neonichu opened #40 "Make sure we build armv7s slices"
Xcode 6 does not build it by default anymore, see <http://wp.me/p2HLdW-2qu>

[2014-10-16 11:21] olegam opened #41 "Generated framework does not work with CocoaPods"
I simply cannot get the generated frameworks to work when included from an app that uses Cocoapods. Maybe I'm doing something wrong or cocoapods-packager is broken with the latest CocoaPods or Xcode?

When trying to build the app consuming the static lib (framework) included through cocoa pods i get the following linker error:

[code]

I have created a sample project to make it easy to reproduce t

[2014-10-21 01:52] semireg opened #42 "Spaces in work_dir fails to package"
I wanted to run the minimal test so I followed the directions here http://guides.cocoapods.org/making/using-pod-lib-create.html (pod named SemiFakeKit), added one class with a "hello world" method, and pushed the repo to a private pod repo. I can use the SemiFakeKit pod in a Podspec and it's simple class works as advertised.

However, the packaging dies prematurely:

[code]

As an aside, I have cl

[2014-10-21 13:54] semireg opened #43 "--subspecs option doesn't work as expected"
I'm testing the basics of --subspec packaging.

[code]

or...

[code]

How is this supposed to be used?

[2014-10-21 14:15] semireg opened #44 "Customizing name of packaged pod"
Is it possible to customize the packaging of the new pod, such as changing the name? For example, a private pod named SemiHelloWorld and I want to package a framework named SemiHelloWorldStatic. Is there an easy way to do this in the parent's podspec?

Thanks for all the hard work on this project.

[2014-10-21 15:41] #43 closed, assigned to nobody

[2014-10-22 00:33] #42 closed, assigned to nobody

[2014-10-22 17:57] #41 closed, assigned to neonichu

[2014-10-30 20:34] smistry-toushay opened #47 "Pod package does not fail when xcodebuild fails"
I ran into an into issue where symbols were missing from my packaged pod.

I tracked it down to ```xcodebuild``` failing (https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/builder.rb#L149). However, the ```pod package``` command appeared as though it ran successfully. It would be great if the return code of xcodebuild is checked for success, and a way to see the xc

[2014-11-03 13:08] piercifani opened #48 "Add option to set “LINK FRAMEWORKS AUTOMATICALLY” to NO"
There is a design flaw in CoreVideo.h that makes it really hard to build a framework with Xcode 6 and deploy it on apps that are still being built with Xcode 5. Details on this issues [here](http://www.appsee.com/blog/dev/xcode-new-link-frameworks-automatically-fix-framework-not-found-metal-for-architecture-armv7) and [here](https://github.com/CocoaPods/CocoaPods/issues/2457).

The only way around

[2014-11-18 21:50] bcattle opened #49 "Running a simple example doesn't work"
I installed cocoapods-packager 1.1.0.

[code]

Running a simple command like

[code]

Despite the docs saying

[code]

Am I doing something wrong, or does the documentation need to be updated? Thanks.

[2014-11-20 13:17] alloy opened #50 "Create binaries from a given Podfile."
Currently the packager only takes a single podspec, but it would be nice to be able specify a Podfile, if a user chooses to only want integrate binary products.

I think this could internally work the same in both scenarios, where you either use the specified Podfile or dynamically generate one that has the specified podspec as its dependency. Whether or not this makes things simpler or more compl

[2014-11-24 09:50] neonichu opened #51 "How to handle dependencies which are needed by public headers?"
If a Pod subclasses a class from a dependency, its header will be required for further usage. Currently, the packager cannot provide that.

As a solution, the packager should be able to create frameworks stubs, similar to those that Apple ships for the ARM frameworks in the iOS SDK.

A workaround is also packaging the dependency and linking any application against both.

[2014-11-28 10:38] neonichu opened #52 "Category selectors are not mangled"
By default, the packager mangles class names, to avoid conflicts. As a user who depends on Pods which includes categories, one might also want a similar mangling to be applied to selectors provided by those categories. This is currently not done and cannot be achieved using the simple preprocessor based mangling that the packager uses.

[2014-11-30 21:58] ilyapuchka opened #53 "Static libraries generate a framework podspec"
When building with --library flag I got only *.a and no header files. Also podspec looks just like when building framework

[2014-11-30 22:18] ilyapuchka opened #54 "Undefined symbols for architecture"
I've built a framework using packager from my podspec. There were no errors in output. But when I try to use built framework in dependant project xcode says that all public simbols from that framework I use are not defined for selected architecture.
The same problem with static lib.

I have command line tools Xcode 6.1 (6A1052c)

packager output:

Generating Pods project
Building framework
Manglin

[2014-12-01 11:02] #54 closed, assigned to nobody

[2014-12-14 18:20] neonichu opened #55 "Generate module map if umbrella header is present"

[2014-12-15 12:39] #55 closed, assigned to nobody

[2014-12-15 12:49] #52 closed, assigned to nobody

[2014-12-15 12:56] neonichu opened #56 "Support SwiftPods"
Eventually, we will want to be able to build dynamic frameworks using the packager.

The goal should remain that the dependencies are vendored with mangled symbols by default, so that the generated framework is suitable for easy distribution. As dynamic frameworks are more reasonable in terms of users providing transitive dependencies themselves, there could also be an option for producing leaving

[2015-01-04 18:44] blakewatters commented on #55
@neonichu Is this stuff stable? Time for a new release?

[2015-01-04 19:30] segiddins commented on #55
I believe @neonichu was waiting until cocoapods 0.36 is released?

[2015-01-04 20:13] blakewatters commented on #55
Cool I’ll try binding against the CP pre-release and HEAD on here and see what happens

[2015-01-05 09:18] neonichu commented on #55
Yep, the plan was to release when 0.36 is out - thanks for testing it!

[2015-01-06 06:05] blakewatters commented on #55
Shipped an internal LayerKit release today without issues. Should be dropping final tomorrow. :+1:

[2015-01-06 08:57] neonichu commented on #55
🎉

[2015-01-06 12:49] neonichu opened #57 "Build (and possibly attach) Carthage compatible builds"
Carthage plans to add support for binaries (see Carthage/Carthage#257) and this seems like the best way to provide compatibility for libraries which do not want to manage superfluous Xcode projects.

[2015-01-06 17:19] alloy commented on #57
:+1:

[2015-01-07 14:53] jtreanor opened #58 "System frameworks seem to be mangled. Is this correct?"
I am trying to build a package a library using packager but the project I add it to will not build due to errors that look like:
[code]
Correct me if I am wrong but does this mean that `CABasicAnimation` has been mangled? Why is this the case and is there something I am missing?

[2015-01-07 15:01] jtreanor commented on #58
It may be worth adding that using `--no-mangle` causes these errors to go away, but I do want my dependencies to be mangled so this isn't a fix.

[2015-01-07 16:06] neonichu commented on #58
Yes, the mangling implementation is very naive - see <https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/symbols.rb#L15>

The easy fix will be adding 'CA' there, but maybe it is time to come up with a smarter way of figuring out which classes should not be mangled.

[2015-01-07 16:11] jtreanor commented on #58
Ah, that makes sense. I will have a look and see if I can come up with something.
I just discovered packager yesterday and I am impressed. Its a great tool :smile:

[2015-01-07 16:21] neonichu commented on #58
Thanks, if you don't have a better way, a PR which simply adds that prefix would also be appreciated - that's at least better that the status quo :)

[2015-01-07 16:21] jtreanor commented on #58
:+1:

[2015-01-08 14:21] neonichu commented on #58
Fixed by #59

[2015-01-08 14:21] #58 closed

[2015-01-09 16:58] jtreanor commented on #52
This is something that I see as quite important. For example my framework includes AFNetworking, which has several categories on UIKit. This mean that users of my framework who also use AFNetworking will have build errors if they use any of the categories.

I would be happy to put work in to support this if it is at all possible but I must admit my understanding is lacking a little.
Is the reason

[2015-01-12 10:23] neonichu commented on #52
There is the problem with non-prefixed selectors that you mentioned, but also that even identifying category methods cannot be done using the approach that is taken right now.

For your specific case, an idea would be to not depend on the UIKit subspec of AFNetworking if that is possible.

[2015-01-12 12:30] jtreanor commented on #52
Thanks. That's what I will do for now. However, I still find it less than ideal that packager cannot support dependencies that have categories on system classes (which is quite common).

[2015-01-12 12:36] neonichu commented on #52
I can understand that opinion. I'd totally be open to PRs to change the situation, it is just not something I'll personally concentrate on.

[2015-01-12 12:46] jtreanor commented on #52
That's completely fair. I will continue to research it and if I come up with something I'll open a PR.

[2015-01-12 19:40] blakewatters commented on #52
If you are developing a library that is intended (or can be reasonably expected) to be used as a dependency for other libraries then you really should be avoiding categories at all cost. There’s nothing achievable from a category that isn’t doable by other means — they are a convenience interface for app developers. C functions or static helper classes are preferable unless you are programming at

[2015-01-28 16:32] neonichu commented on #40
Fixed by #61

[2015-01-28 16:32] #40 closed

[2015-01-29 12:32] jtreanor opened #63 "Is it possible to package from local source?"
The podspec I am packaging has a source line like this:

[code]

Packager does a great job of pulling that down and doing its magic.

However, for development, I would like to be able to build a framework from the local source. This would be really useful so that I can test things without having to pollute my repo with tags.

Is this something packager is capable of?

If not, perhaps a `--local` o

[2015-01-29 14:12] smistry-toushay commented on #63
+1

[2015-01-29 14:28] neonichu commented on #63
This is related to #10 - I decided to stick with just one supported way of getting sources because of KISS.

I think the best way to expand the current functionality would be to support two scenarios:

- `pod package AFNetworking`: Get the specification from the configured sources or master if none were specified, grab the files from wherever configured in the spec. That's the current use case of

[2015-01-29 14:30] neonichu commented on #63
Changes need for that:

- Fix `spec_for_name`, used here: <https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/pod/command/package.rb#L38>

- Change <https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/pod_utils.rb#L23> so that it uses a Podfile without any arguments for the first case and `:path` for the second case

[2015-01-29 15:51] kylef commented on #63
@neonichu In my original notes on how the packager should work (in #1) was something like this:

[code]

So it would be consistent with the behaviour of the other pod commands operating on specs.

[2015-02-18 22:09] michaelmelanson opened #66 "Support for weak-linked frameworks."
We have a pod which depends on PromiseKit, and that pod has a default subspec (`UIViewController`) that creates a weak link with the `AssetsLibrary` framework. When we run `pod package` on our podspec, the weak linking is dropped and we end up with linker errors when our framework is used.

So far I have worked around this limitation by specifying the exact subspecs I need, to avoid the one that c

[2015-02-18 22:48] segiddins commented on #66
@michaelmelanson shouldn't be too hard to make a quick patch that does that -- just need to aggregate the weak frameworks in the generated framework

[2015-02-19 01:26] neonichu commented on #66
Is there a public Pod that exhibits this problem or can you share an example? Would make it easier to create an integration spec for this.

[2015-02-19 14:08] michaelmelanson commented on #66
I agree, this should be a fairly easy fix. I would have done it myself and sent a pull request instead, but I may not have time right away and didn't want it forgotten.

I don't know of any public pods that exhibit this behaviour. But it should be trivial to make one that does: all it needs to do is depend on `PromiseKit`. In the current version anyway (1.2.4), the default subspecs list includes t

[2015-02-19 14:32] neonichu commented on #66
Right, realised that this is actually a duplicate of #48

[2015-02-19 14:32] #66 closed

[2015-02-19 15:32] #48 closed

[2015-02-19 15:32] neonichu commented on #66
@michaelmelanson #48 is fixed now, would appreciate if you could verify if it truly fixes your issue as well.

[2015-03-09 13:54] jtreanor opened #67 "Generated podspec should include `spec.frameworks` and `spec.libraries` from dependencies"
The generated podspec will currently not work if any of the dependencies has any `spec.libraries` or `spec.frameworks` which are not explicitly also included in the project's podspec.

For example if [SocketRocket](https://github.com/square/SocketRocket/blob/master/SocketRocket.podspec) is a dependency, the host app will not know to link `icucore`.

[2015-03-11 04:29] Whirlwind commented on #6
Do nobody agree with me?

[2015-03-16 07:53] sevenfeng012 opened #68 "I want to generate a static lib ,but get some errors as follow."
seven:AFFacebookLib fengzhijian$ pod package AFFacebookLib.podspec --library --force
Analyzing dependencies
Fetching podspec for `AFFacebookLib` from `AFFacebookLib.podspec`
Downloading dependencies
Installing AFFacebookLib (0.1.0)
Generating Pods project
Building static library
libtool: unrecognized option `-static'
libtool: Try `libtool --help' for more information.
libtool: unrecognized option

[2015-03-16 08:04] neonichu commented on #68
`libtool: unrecognized option `-static'`

This suggests that you have a non- libtool in your PATH, the following errors are caused by that. Changing your PATH to reference the correct libtool should resolve this.

[2015-03-16 08:04] #68 closed

[2015-03-21 00:49] XBeg9 opened #69 "Undefined symbols for architecture arm64"
*Undefined symbols for architecture arm64 (also for x86_x64)*

I have framework project with custom classes. With command:
```pod package```
It successfully creates MyFramework.framework and I drop it into another project. After that I got this errors for any file I include.

My podspec:
[code]

[2015-03-21 10:22] XBeg9 commented on #63
Any updates?

[2015-03-21 10:38] XBeg9 commented on #69
It seems that from packager there are no issues, all architectures inside lib. I just made --library (static) and checked the file.
[code]

But after I include this libPromptus.a file I got *Undefined symbols for architecture x86_64*

[2015-03-24 23:39] vitormf opened #70 "Compiled files size is too large"
The framework file being created by the packager is much larger than when I build with XCode.

I've noticed that each compiled file (.o) with the packager is about 2 times the size of the compiled file when building inside XCode.
It's even a little bit larger than when I build in debug mode.

I'm not sure if there is a config file for the packager or if I'm doing something else wrong.
I've install

[2015-03-24 23:48] segiddins commented on #70
That's because the packager is building for 3 (2) architectures instead of 1.

[2015-03-25 00:09] vitormf commented on #70
Hey Samuel,

Thanks for the fast response.

I've noticed that it's building for 3 architectures (arm64, armv7 and armv7s), while building in xcode it build for 2 (arm64, armv7).
But what I meant is that the intermediary file for one architecture is about double the size of the compiled file in the xcode.

For example, I have a class named DeviceInfo.
I've analyzed the compiled DeviceInfo.o file.
-

[2015-03-25 00:11] segiddins commented on #70
Do you have any dead code stripping options enabled in your Xcode project? What are your optimization settings?

[2015-03-25 00:15] vitormf commented on #70
In debug mode: None -O0
In release mode: Fastest, Smallest -Os

[2015-03-25 00:16] vitormf commented on #70
Dead code stripping: Yes

[2015-03-25 08:45] neonichu commented on #70
You could diff the output of `nm -g` for the two cases and see if anything obvious sticks out.

[2015-03-25 08:52] neonichu commented on #69
Could elaborate a bit more on which symbols are undefined? Are they from the Promptus pod or from one of its transitive dependencies? If name mangling is active (the default), you won't be able to reference symbols from the transitive dependencies by their unmangled name.

[2015-03-25 14:23] vitormf commented on #70
Hey Boris,
Thanks for your response.
I've run this command in both .o files.
The diff between the two, is that the code generated by the xcode contained one extra symbol "_objc_storeStrong".
Also the numeric value on the left column were different for all symbols that had one (which I suppose it must be the position in memory for that symbol)

[2015-03-25 14:57] vitormf commented on #70
Here are all arguments that the XCode passes when compiling that specific class:
https://dl.dropboxusercontent.com/u/19869922/inloco/xcode_build_arguments.txt

I've broken some lines to enable easier reading.
Is there a way for the packager to list the compiling arguments?

[2015-03-25 15:27] neonichu commented on #70
A `puts` here <https://github.com/CocoaPods/cocoapods-packager/blob/bfa05c8fb3578bffb8828821cb57a9ae34bdd83d/lib/cocoapods-packager/builder.rb#L174> should show you all output of `xcodebuild`

[2015-03-25 20:37] vitormf commented on #70
Boris,

I've running the packager stopping at each step.
Before downloading the code, it creates in a temporary directory a file named Pods.xcodeproj with the target for the Pods and another for my library.

In my original project it had the configuration "Generate Debug Symbols" set to "NO" while in this temporary project it is set to "YES".

Do you have any idea what might be causing it?

[2015-03-25 21:15] vitormf commented on #70
When I concat GCC_GENERATE_DEBUGGING_SYMBOLS='NO'  in the compile method return value, it generates the framework with the correct size.
Though I'm not sure if that would be the correct fix for this issue.

[2015-03-28 01:27] vitormf commented on #70
Correction: Not the return value. Concat with the "defines" variable in the compile method.

[2015-03-31 14:26] vavvolo opened #71 "pod package fails if spec has vendored_framework"
Given the following podspec

[code]

pod package fails even with the --no-mangle option

[code]

[2015-03-31 20:54] illyabusigin commented on #71
I ran into this same issue with an internal framework.

[2015-04-01 15:30] valentinogattuso commented on #71
This should solve the problem

[code]

but I saw there's a unit test for this scenario and it was ok. I'll try to do a PR as soon as I have time to double check the issue.

[2015-04-02 17:43] valentinogattuso commented on #26
I did some tests about this and as far as I understood neither vendored_frameworks nor vendored_libraries are merged into the final framework or library.

I created a framework from SSKeychain using "pod package SSKeychain.podspec --no-mangle"

LibA uses the SSKeychain.framework. [This][1] is the podspec. I created a framework from LibA using "pod package LibA.podspec --no-mangle" (note that I'm u

[2015-04-02 22:24] mickeyreiss commented on #26
For one of my use-cases, which is to compile a pod into a .a and headers for closed source release, we would like the vendored static library dependencies to be included in the final .a output.

[2015-04-02 23:09] neonichu commented on #26
I think it makes total sense to :sparkles: vendor :sparkles:  the vendored libraries. Should possibly require passing `--no-mangle`, because the vendored library's symbols can't be mangled. In any case, not sure when I will get around to implementing it, so a PR would be awesome :heart:

[2015-04-02 23:09] neonichu commented on #67
Noticed that this is actually a duplicate of #26

[2015-04-03 11:17] valentinogattuso commented on #67
I'm not sure this is a duplicate of #26
spec.libraries and spec.framework are for dynamic system libraries and framework like icucore or CoreLocation.framework, we shouldn't merge them into the final framework (and I'm not sure we can).

[2015-04-03 11:19] jtreanor commented on #67
Yes, I agree. This refers to a simple change in the generated podspec only.

[2015-04-03 11:24] valentinogattuso commented on #26
I'm happy to help with PR. can you clarify the requirements? should the merging of vendored libraries and framework be the default behaviour? a flag?

On a side note, it should be possible to mangle the symbols of a pod dependency even if this pod dependency has a binary dependency because executing "nm -gU libPods-podDependency.a" won't return symbols defined in the binary dependency.

[2015-04-03 11:49] neonichu commented on #67
You're right, shouldn't close duplicates after midnight :)

[2015-04-03 11:52] neonichu commented on #26
I would say the default should be as it is now, bailing out with an error regarding binary dependencies. If `--no-mangle` is specified, vendored libraries are automatically lipo'ed into the result framework. For now, the build should probably also fail for dynamic libraries/frameworks as we cannot simply merge them.

[2015-04-05 21:19] blakewatters commented on #70
I’m not sure if this is really a problem — the debugging symbols are helpful when developers are working with your framework during development and the App Store build process will strip them. The LayerKit uncompressed framework is about 75MB but the total weight to an app store build is ~1.1MB.

[2015-04-06 20:13] vitormf commented on #70
That is true. For the library to have debug symbols or not, it doesn't affect the final product as it seems that when exporting for app store or adhoc, the xcode strips them.

In our case, we're choosing to export without the debug symbols, because it makes the download of the library smaller. And since the source code is not provided, it  wouldn't help the developers to debug anyway.

We've choos

[2015-04-06 20:18] neonichu commented on #70
I think it makes sense to provide an option to optionally strip the build product for the purpose of smaller downloads, if desired.

[2015-04-09 21:34] #47 closed

[2015-04-14 16:54] mszupke opened #75 "packager plugin not found with local `rake install`"
Hi,

I have the same problem which was described here:
https://github.com/CocoaPods/cocoapods-packager/issues/71
I tried to install 1.1.2 version from source but pod package isn't visible. Can you give me some advice how to properly install this version from source, or can you publish this version to cocoapods repository?

[2015-04-14 17:16] neonichu commented on #75
`rake install` from your working copy should be all you need.

[2015-04-14 17:26] mszupke commented on #75
After rake install I have cocoapods-package on installed gem list:

cocoapods (0.36.3)
cocoapods-core (0.36.3)
cocoapods-downloader (0.9.0)
cocoapods-packager (1.1.2)
cocoapods-plugins (0.4.2)
cocoapods-trunk (0.6.0)
cocoapods-try (0.4.3)

but when I try to run pod package then I get an error:

[!] Unknown command: `package`
Did you mean: update

On commands list i don't have package option

[2015-04-14 17:48] neonichu commented on #75
This most probably means that the `pod` in your `PATH` is not using the `GEM_HOME` used by the `gem` in your `PATH`.

[code]

Unless you explicitly know that they should be different, those two directories should be the same and `GEM_HOME` should be empty.

[2015-04-14 19:40] mszupke commented on #75
This is my environment:

MacBook-Air-Marcin:blinky-module-ios mszupke$ which pod
/usr/bin/pod
MacBook-Air-Marcin:blinky-module-ios mszupke$ which gem
/usr/bin/gem
MacBook-Air-Marcin:blinky-module-ios mszupke$ echo $GEM_HOME

MacBook-Air-Marcin:blinky-module-ios mszupke$ gem env
RubyGems Environment:
  - RUBYGEMS VERSION: 2.0.14
  - RUBY VERSION: 2.0.0 (2014-05-08 patchlevel 481) [universal.x86_64-

[2015-04-14 19:41] mszupke commented on #75
This is my environment:

MacBook-Air-Marcin:~ mszupke$ which pod
/usr/bin/pod
MacBook-Air-Marcin:~ mszupke$ which gem
/usr/bin/gem
MacBook-Air-Marcin:~ mszupke$ echo $GEM_HOME

MacBook-Air-Marcin:~ mszupke$ gem env
RubyGems Environment:
  - RUBYGEMS VERSION: 2.0.14
  - RUBY VERSION: 2.0.0 (2014-05-08 patchlevel 481) [universal.x86_64-darwin14]
  - INSTALLATION DIRECTORY: /Library/Ruby/Gems/2.0.0

[2015-04-14 20:08] neonichu commented on #75
Generally looks good to me, I can't say what's going wrong there, sorry.

[2015-04-15 11:24] mszupke commented on #75
Maybe if you put packager 1.1.2 to cocoapods repository this error will not appear?

[2015-04-15 11:28] neonichu commented on #75
Feel free to open a PR with the change, then it can eventually be shipped to rubygems.

[2015-04-16 08:18] leviyehonatan commented on #53
i am still surprised it is not implemented, whats the status of this? is this meant to be used as a fat static file generator for easing their creation?

[2015-04-16 08:40] neonichu commented on #53
The `--library` option isn't used very much. I'd love to accept a PR for this, though.

[2015-05-06 22:59] Cross22 opened #76 "Please add examples to documentation"
According to pod package --help it should be possible to specify a different source as second argument. I have not been able to get that to work ("Unable to find a podspec with path or name.") and there is no documentation on how this should be done.

[2015-05-07 17:27] neonichu commented on #76
This works just as documented for me:

[code]

Please report back with a reproducible case if this keeps being a problem.

[2015-05-07 17:27] #76 closed

[2015-05-07 17:28] #75 closed

[2015-05-07 17:29] #69 closed

[2015-05-13 08:57] cvasilak opened #77 "Ability to specify "umbrella" header name on the generated module_map file"
Hi there,

thanks for your work on the plugin, it truly automates most of cumbersome scripts that had to maintain.

I have a question on an issue I bumped in. According the [source code](https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/builder.rb#L115-L123) the ```module_map``` generated file  specifies an umbrella header that defaults to the ```spec.name```. Is t

[2015-05-13 09:03] neonichu commented on #77
Currently, this is not possible.

I'm thinking the best way to achieve it would be tapping into the existing `module_map` attribute in the podspec: <https://guides.cocoapods.org/syntax/podspec.html#module_map> - while this doesn't apply for the static library builds cp-packager does, it could ensure that the same module map is used no matter the integration strategy.

If you have time to contribut

[2015-05-13 09:09] cvasilak commented on #77
thank you @neonichu for your quick reply and hint. Let me have a look at and ping back.

[2015-05-22 10:53] neonichu opened #80 "Pod::Builder should use FileAccessors instead of direct path manipulation"
Currently, `Pod::Builder` builds a lot of paths manually, duplicating some functionality that is already present in CP's `FileAccessor` class. This should be changed.

[2015-05-22 10:56] neonichu commented on #77
Implemented in #79

[2015-05-22 10:56] #77 closed

[2015-05-28 15:49] sidorov-panda opened #81 "Include dependencies frameworks to package"
Hello,
I`m trying to include ShareKit pod to my Framework, but always get something like

    In file included from /var/folders/hv/j5vtrx9j1m70g9p4xjh5ymhm0000gp/T/cocoapods-fqj7cuu2/Pods/ShareKit/Classes/ShareKit/Sharers/Services/Dropbox/SHKDropbox.m:9:
    /var/folders/hv/j5vtrx9j1m70g9p4xjh5ymhm0000gp/T/cocoapods-fqj7cuu2/Pods/ShareKit/Classes/ShareKit/Sharers/Services/Dropbox/SHKDropbox.h:14:

[2015-05-28 15:54] neonichu commented on #81
Looks like Dropbox is a vendored framework, this is currently not supported by the packager, see #26

[2015-05-28 15:54] #81 closed

[2015-06-17 14:36] avnerbarr opened #82 "How can I create a framework from the resulting product"
I ran the command:

```pod package TestFramework.podspec```

and see the resulting directory -

Now I would like to package all if it into a framework for consumption - Not through the produced pod spec -

How can I do this?

[2015-06-17 14:58] neonichu commented on #82
Not sure what you mean by that, you should receive a directory structure like this:

[code]

So the packaged frameworks are available from the `ios` or `osx` platform subdirectories.

[2015-06-17 15:01] avnerbarr commented on #82
But I have a build directory with the structure

build->Pods.build |
                             --Release-iphoneos
                              --Release-iphonesimulator

The framework is a link to them no?

How do I distribute only the framework file ?

[2015-06-17 15:08] neonichu commented on #82
Hm, this should not be the case, do you receive any output or error messages while packaging?

[2015-06-17 15:10] avnerbarr commented on #82
No.

I just created a vanilla project

Created a pod spec

In the pod spec added the directory of my files.

[code]

[2015-06-17 15:22] neonichu commented on #82
What's the result of `pod lib lint TestFramework.podspec`?

[2015-06-18 08:42] avnerbarr commented on #82
Only a warning for the license file

pod lib lint TestFramework.podspec

 -> TestFramework (0.0.4)
    - WARN  | [iOS] Unable to find a license file

[!] TestFramework did not pass validation.
You can use the `--no-clean` option to inspect any issue.

[2015-06-18 09:54] WoodySlum opened #83 "Use target defined in Xcworkspace in podspec"
Hello,

Would it be possible (or maybe it's already the case) to use Xcworkspace targets to build framwork ?

Thank you

[2015-06-18 10:23] neonichu commented on #83
I'm unsure what you mean by that. The packager takes a podspec and creates a "fake framework" from its build result.

[2015-06-18 11:38] WoodySlum commented on #83
In fact my company created a SDK with many build tricks (e.g. private frameworks).
Today, we're using specific target on our SDK xcodeproj to build the .framework correctly.

But ...

We embedded external librairies into our SDK, and our customer use the same librairies which creates collisions.
I would like to use Cocoapods Packager to enable prefixes and avoiding those collisions.

The more simp

[2015-06-18 12:10] avnerbarr commented on #82
I posted this question

http://stackoverflow.com/questions/30914987/how-to-use-pod-package-to-create-a-compiled-framework

[2015-06-18 12:11] avnerbarr commented on #82
My main project itself has dependencies managed through cocoa pods .

The cocoa spec I created has those dependencies listed.

When I run the command "pod package" the resulting framework doesn't contain the dependencies.

[2015-06-18 15:33] neonichu commented on #83
Dealing with existing Xcode projects is out of scope for this plugin, it's purpose is solely to package podspecs.

Check out <https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/mangle.rb> for how the symbol mangling is done, from that you should be able to come up with a solution for your problem.

[2015-06-18 15:33] #83 closed

[2015-06-21 12:58] neonichu commented on #82
This works fine for me with your exact podspec - could you post a complete example which reproduces your issue?

[2015-06-22 11:46] WoodySlum opened #84 "Mangling and -ObjC"
I started writting a podspec for my library ; the goal was to avoid embbed library collision.
The Cocoapods packager built successfully my library into a .framework, but I'm experiencing an issue :
As I'm using categories, I had to add the -ObjC flag on the final project (I mean the project who embed my library), according to this post : http://stackoverflow.com/questions/2567498/objective-c-categ

[2015-06-22 12:22] neonichu commented on #84
No mangling is performed for category methods, see #52

[2015-06-22 12:22] #84 closed

[2015-06-22 17:22] avnerbarr commented on #82
The complete example can be found here:

https://github.com/avnerbarr/TestFramework

and the result of running ```pod package ``` on the ```pod spec``` can be found here:

https://github.com/avnerbarr/TestFrameworkCompiled

[2015-06-22 17:39] neonichu commented on #82
So your output **does** contain a `.framework`, see <https://github.com/avnerbarr/TestFrameworkCompiled/tree/master/ios/TestLibrary.framework>

`pod package` seems to work as expected.

[2015-06-22 17:39] #82 closed

[2015-06-22 17:43] avnerbarr commented on #82
The resulting framework can't be integrated to any project

I get errors that the dependencies inside the original podspec can't be found in the framework

for instance in the original pod spec I listed AFNetworking

When I integrate the compiled framework to a different project the compiler yells that AFNetworking isn't found.

I have also tested with different dependencies in the original pod sp

[2015-06-22 18:08] neonichu commented on #82
The dependencies are in there, but with name mangling applied, see

[code]

Maybe the `--no-mangle` option is what you want.

[2015-06-25 07:58] avnerbarr commented on #82
From my project directory I ran the command ```pod package TestLibrary.podspec``` and I am not getting this output.

Should I be added any arguments? Is there a way to debug why my output directory looks different than what you are showing me?

My TestLibrary.framework doesn't integrate properly to a different project - The AFNetworking isn't inside the framework -

[2015-06-25 08:39] neonichu commented on #82
The output I showed you above is from `TestLibrary` inside <https://github.com/avnerbarr/TestFrameworkCompiled>

[2015-06-29 13:26] pjenkins-cc opened #85 "NoMethodError - undefined method `module_map'"
Hello,

I'm attempting to use packager to create a .framework for a proprietary CocoaPod called "iOSCommons".

iOSCommons needs 0.34.4 circular dependencies. I want to be able to use the latest CocoaPods for new stuff so I'm trying to lock in the version of iOSCommons and just drag in the .framework, so I don't need to rely on 0.34.4 except to re-generate the framework.

However, I'm getting error

[2015-06-29 14:02] neonichu commented on #85
Hm, 1.1.1 definitely doesn't use `module_map` — could you share the error you're getting with that? If it is similar to the one described here, please make sure you're actually not using 1.2.0, e.g. by uninstalling it.

[2015-06-29 14:04] neonichu opened #86 "gemspec should enforce required CocoaPods version"
See #85

There should be a 1.2.1 release which enforces 0.37 as a minimum version.

[2015-06-29 14:53] pjenkins-cc commented on #85
@neonichu Good catch about uninstalling previous versions! When I uninstalled 1.2.0, it worked. Thanks very much. Closing.

[2015-06-29 14:53] #85 closed

[2015-07-02 12:34] jjramos-developer opened #87 "Packager failing if bundling external library"
I have created a library that has 3 dependencies. Two are specified as such in the podspec and the third one is [Mantle] (https://github.com/Mantle/Mantle) where I have forked the repo, pre-fixed all the files and included them in the main target of my static library.

The project in Xcode builds successfully but when using cocoapods packager I get this error
[code]

I have checked my code over an

[2015-07-02 15:06] virl opened #88 "undefined method `module_map' when packaging Pod library"
I've created simple Pod library project as described here: https://guides.cocoapods.org/making/using-pod-lib-create

When I "run pod package MyPod.podspec", I receive following error:
[code]

[2015-07-02 15:20] segiddins commented on #88
@virl you'll need to update CocoaPods to something >= 0.37

[2015-07-02 15:29] virl commented on #88
@segiddins thanks, it helped.

[2015-07-02 15:29] #88 closed

[2015-07-02 16:13] virl opened #89 "Symbols of pod dependencies are not mangled"
I've succesfully build framework. But when I look into its symbol table via "nm -gU", I see that symbols of its dependencies are not mangled:

[code]

How to enabled mangling of them so they will not interfere with same symbols in the main app?

[2015-07-02 16:20] segiddins commented on #89
That is "mangled", by the prefix of `PodUnderdark`, no?

[2015-07-02 16:21] virl commented on #89
Oh, yes. But when I linking resulting framework to main App, it still complains like this:
[code]

[2015-07-02 16:26] virl commented on #89
Also, should I specify --embedded key? What does it do?
I just want to build dynamic framework.

[2015-07-02 16:27] neonichu commented on #89
I'm assuming `ArrayUtils` is a category? Those won't get mangled. Also the packager builds static fake frameworks, dynamic frameworks are not yet implemented.

[2015-07-02 16:30] neonichu commented on #87
The packager knows nothing about your custom projects or Podfiles. To use a fork of Mantle when packaging, you would need to put a podspec for the fork in your own spec repo and then reference that via `--sources`.

[2015-07-02 16:30] #87 closed

[2015-07-02 16:35] virl commented on #89
Yes, it is a category. Thanks!

Btw, do you know how can I mangle dynamic Cocoa Touch Framework target?

[2015-07-02 16:44] neonichu commented on #89
You can have a look at the mangling implementation of the packager and adopt it: https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/mangle.rb

Or you could try making a PR for adding dynamic frameworks support, I'd be happy to help with that.

[2015-07-02 16:49] virl commented on #89
Thanks.

[2015-07-02 16:49] #89 closed

[2015-07-03 21:30] #86 closed

[2015-07-20 11:00] ajitam opened #90 "Building framework with cocoapods 0.38.0"
Hi,

since I've updated to cocoapods 0.38 when building framework, .a file doesn't builds and I'm left with only public headers

running

[code]

works as usual

[2015-07-22 00:55] pellet commented on #90
I second this issue... sticking to building with 0.37.2, thanks for the heads up... I couldn't work out why the binary wasn't building :/

[2015-07-28 02:51] gadauto commented on #53
Does "--library option isn't used very much" imply "so it's not supported at all"?  I just ran --library and didn't get any file output.  Should I expect a .a file somewhere?

[2015-07-28 03:45] pellet commented on #90
just tested cocoapods 0.38.2 and it's still broken.

[2015-07-28 06:31] neonichu commented on #53
Nope, cp-packager hasn't been updated for 0.38.x, yet, see #90

[2015-08-03 18:11] xslim commented on #90
relating my issue from CocoaPods https://github.com/CocoaPods/CocoaPods/issues/3782

with `0.38.0+` instead of `Pods-MyLib` scheme, `MyLib` scheme is created

[2015-08-03 18:22] neonichu commented on #90
Yes, cp-packager does not support 0.38.x, yet.

[2015-08-05 16:53] kcoleman731 commented on #56
@neonichu found this issue today and would love to know if there has been any progress on dynamic framework packaging?

If not, I'd be happy to start working on a PR to add support for this. I pulled down the project earlier this week to get familiar with the source. Any guidance you can give as to how the dynamic frameworks should to be assembled would be much appreciated.

[2015-08-07 19:49] brandonroth opened #91 "podspec won't build with vendored_libraries set"
Using version 1.2.1 I get the the error `[!] podspec has binary-only depedencies, mangling not possible.` If I try again with the --no-mangle option set I get the same error.  If I open the podspec and remove the vendored libraries then everything works.

[2015-08-09 16:37] neonichu commented on #91
dupe of #71

[2015-08-09 16:37] #91 closed

[2015-08-11 11:34] avnerbarr opened #92 "Error - Argument list too long"
I am trying to run ```pod package myspec.podspec``` and I get an error

```Argument list too long```

My spec is:

[code]

[2015-08-13 07:08] navratill opened #93 "Dependency from private repo not found"
When I am using dependency on company's library from our private repo, packager return error:
[code]
private repo is added into cocopapods (pod repo - shows it)

So does packager support local repos as well?

Thanks

[2015-08-13 07:39] kylef commented on #93
`pod package` takes `--spec-sources`, please consult the `--help` option for more information.

[code]

[2015-08-13 07:39] #93 closed

[2015-08-17 17:41] segiddins commented on #56
Iirc there hasn't been any progress on this front yet

[2015-08-17 23:30] neonichu commented on #56
Yah, there has been pretty much zero progress, because I didn't need it, yet.

There will actually be two major parts:
1. support packaging dynamic frameworks
2. support mangling Swift dependencies

which might be better off being split into two different issues.

@kcoleman731 In any case, a PR would be greatly appreciated, because I probably won't be getting around to this myself too soon.

My ap

[2015-08-18 21:37] kcoleman731 commented on #56
@neonichu Sounds great, already working on the pr.

I already have the separate pieces building properly. I'm a bit stumped on how you combine the dynamic framework + the static dependencies into one build artifact however. In your first comment above, you recommended using `lipo`. If I do this, I get the following error msg.
[code]

Any suggestions?

[2015-08-18 21:52] neonichu commented on #56
@kcoleman731 ah, I thought `lipo` would work — alternatively, you could simply try linking the dynamic framework against the static libs.

[2015-08-18 21:55] kcoleman731 commented on #56
@neonichu got it. Moving on to that approach.....I was just looking through the `Xcodeproj` gem. I figured there might be some API to specify linked libraries....not finding any however. Am I missing something obvious?

[2015-08-19 04:13] numbbuaa opened #94 "duplicate symbol"
In original frameworkPod.podspec, frameworkPod has dependency below
    s.dependency 'PodA'
while, in PodA.podspec, PodA has dependency below
    s.dependency 'PodB'
Then, I use cocoapods-package to generate a framework library from frameworkPod.podspec

In my project, I have Podfile like
    pod 'frameworkPod'
    pod 'PodB'

'pod update' and build, I meet error
duplicate symbol(something in PodB

[2015-08-19 08:23] neonichu commented on #94
This is clearly to unspecific to work with. My best guess would be that PodB includes categories, which are not mangled by cp-packager, see #52. If that is not the case, please provide information on how to actually reproduce this, then we can reopen this issue.

[2015-08-19 08:23] #94 closed

[2015-08-20 01:40] numbbuaa commented on #94
@neonichu in my case, frameworkPod has dependency 's.dependency 'PodA'', PodA has dependency 's.dependency 'NIAttributedLabel'', in my project, use Podfile like
pod 'frameworkPod', :path => "../frameworkPod-0.1.0"'
pod 'NIAttributedLabel'
'pod update' and build, I meet error
duplicate symbol _NIDebugAssertionsShouldBreak in:
    /Users/xxx/Library/Developer/Xcode/DerivedData/frameworkPod-gztwxwexo

[2015-08-25 18:28] neonichu commented on #94
This looks like as if that variable should be static so that duplicates are allowed.

[2015-08-26 08:38] numbbuaa commented on #94
@neonichu There is a question that NIAttributedLabel is a third part pod library, so I cannot modify its source code.Should this kind variables be mangled by  cocoapods-packager?

[2015-08-28 21:34] kylef commented on #94
@numbbuaa NIAttributedLabel is open source so you could create a pull request solving the problem with their pod.

https://github.com/NimbusKit/attributedlabel/tree/master/src

[2015-08-29 01:36] numbbuaa commented on #94
@neonichu @kylef Is there a option to generate a framework exclude source code of dependency pod.

[2015-09-07 12:55] #90 closed

[2015-09-09 09:46] ajitam commented on #90
Does `gem update` updates cocoapods-package ? I did this but it still doesn't work

[2015-09-09 09:49] neonichu commented on #90
There has been no new release, yet.

[2015-09-09 12:12] neonichu commented on #90
Released 1.3.0 now, which supports/requires CocoaPods 0.38.x

[2015-09-09 12:21] neonichu commented on #92
Looks like ComponentKit includes more symbols than whatever fits into a single command's argument list. Unless we come up with a different way to mangle symbols, your only way out will be `--no-mangle`.

[2015-09-09 12:21] #92 closed

[2015-09-10 09:41] ajitam commented on #90
✓ build
✓ run
✓ test

= :+1: works

[2015-09-11 07:27] michaelochs opened #97 "libtool fails with Xcode 7 GM toolchain"
When using the Xcode 7 toolchain, during the 'Building framework' step, `pod package` fails with an error in `libtool`:

[code]

[2015-09-11 20:41] neonichu commented on #97
Hm, haven't been able to reproduce this.

Which versions of CP and packager do you use? There has been an update to 1.3.0 to support 0.38.x

[2015-09-14 15:57] jtreanor opened #98 "Package should include Bitcode"
After updating to Xcode 7 GM, packager still works great (:smile:).

One notable exception is that there is no bitcode included in the resulting framework. This leads to the issue discussed on SO [here](http://stackoverflow.com/questions/31486232/how-do-i-xcodebuild-a-static-library-with-bitcode-enabled).

For now I am working around this by adding this line to my podspec:

[code]

However, I thin

[2015-09-14 16:21] neonichu commented on #98
This makes sense, let me know if I can help with the PR.

[2015-09-14 17:31] segiddins commented on #98
If the packager does an archive build, `xcodebuild` should handle this automatically.

[2015-09-15 09:07] jtreanor commented on #98
@segiddins Yeah, that could possibly be a better approach.

[2015-09-22 15:40] jtreanor commented on #98
I have opened a PR in #100. There is one persistent issue that I can't quite figure out.

[2015-09-23 13:57] #98 closed

[2015-09-23 14:21] jtreanor opened #101 "Frameworks built with Xcode 7 give many errors when linked in Xcode 7"
When any framework built with CocoaPods Packager + Xcode 7 is integrated in an Xcode 7 project with "Debug Information Format" set to "DWARF with dSYM", there are many warnings given. Here is a sample from [NikeKit](https://github.com/neonichu/NikeKit):

![screen shot 2015-09-23 at 15 12 53](https://cloud.githubusercontent.com/assets/1773641/10047338/9e0bea54-6205-11e5-9160-7152512973c7.png)

**No

[2015-09-23 14:45] neonichu commented on #101
Might be worth creating a radar for?

[2015-09-23 14:55] jtreanor commented on #101
@neonichu You're probably right, I'll write on up this evening.

However, I'm not quite convinced this is all Xcode's fault. There are numerous static Frameworks around that have been built on Xcode 7 and don't cause warnings (HockeyApp comes to mind). So there must be some way to work around this.

[2015-09-23 14:57] neonichu commented on #101
I'll try to repro it w/o CocoaPods as well — maybe turning off dSYM creation when building the libs helps?

[2015-09-23 15:10] jtreanor commented on #101
@neonichu I have reproduced both with and without CocoaPods but its certainly useful to confirm.

Good idea. I'll try turning off dSYM creation.

[2015-09-23 16:02] jtreanor commented on #101
`config.build_settings['DEBUG_INFORMATION_FORMAT'] = 'dwarf'` in `pod_utils.rb` didn't help unfortunately.

[2015-09-23 16:35] jtreanor commented on #101
I have managed to fix this by setting:

[code]

I'm not fully sure of the consequences of this but it looks like out only option. I'll cut a PR.

[2015-09-23 16:37] neonichu commented on #101
awesome — still seems like this is a worth a radar since it looks like a Xcode 7 regression.

[2015-09-23 16:40] jtreanor commented on #101
@neonichu Yes, absolutely. I'll post it here.

[2015-09-23 16:41] neonichu commented on #101
:+1:

[2015-09-23 20:02] #101 closed

[2015-09-24 12:12] ploddi commented on #26
In fact, vendored static libraries and framework not automatically lipo'ed into the result framework. Probably related to https://github.com/CocoaPods/CocoaPods/issues/2926.

[2015-09-24 12:14] neonichu commented on #26
@ploddi you're right, going back to my comment, it is pretty misleading, sorry. My intent was to describe how this could work once it was implemented, but it is not.

[2015-09-24 12:15] ploddi commented on #26
Is there any quick hack to merge them into final framework?

[2015-09-24 12:17] neonichu commented on #26
You could try looking for all static binaries inside the Pods directory and `lipo` them into the result.

[2015-10-01 16:11] neonichu opened #103 "Support for building tvOS and watchOS frameworks"
Currently, only iOS and OS X are correctly build.

[2015-10-02 21:11] neonichu commented on #97
Closing for lack of response.

[2015-10-02 21:11] #97 closed

[2015-10-02 21:11] neonichu commented on #56
Implemented by #99

[2015-10-02 21:11] #56 closed

[2015-10-05 18:19] jonstaff commented on #103
+1 for tvOS and watchOS

[2015-10-10 03:22] alanma commented on #103
We have just hit this bump today when we are so excited to build our existing framework against tvOS:

[code]
Any estimate when would we expect the package plugin working for tvOS platform?

Thanks.

[2015-10-21 09:36] ajitam opened #105 "pod package fail"
Hi,

I'm having problem building framework of my SDK. The thing is that lately a few POD have been updated and I'm not shore what is causing the problem, so I want to apologies in advance if this is not 'cocoapods-packager' fault.

So I have a SDK which is working find not compressed into framework. When I run

    pod package MySDK.podspec

I get

[code]

So here I can see that something is wrong

[2015-10-21 10:49] neonichu commented on #105
Can't say anything with the truncated output, you'll have to dig up the actual build errors from the full output.

[2015-10-24 18:30] cbfullerx opened #106 "Clarify build options"
Can you please add a section to the README that clearly explains the exact differences between these options and which versions of iOS and MacOS they support?

`--library`
`--dynamic`
`--embedded`

Please also indicate if one of these is the default option if none are provided.
Please also indicate if these options are mutually exclusive or not.

Now, if they are mutually exclusive, maybe please c

[2015-10-24 18:48] segiddins commented on #106
@cbfullerx a PR updating the README would be much appreciated :)

[2015-10-28 12:21] ajitam commented on #105
I manage to fix almost all issues and now I can build framework (--no-mangle). If I enable mangle I get:

[code]

 And all files are there. Any idea how I can get more into this error? I tried --verbose but I dont get anything more

[2015-10-29 04:28] MasterBeta opened #108 "Keeping head files directory structure when creating frameworks"
My pod has more than 30 public headers and they are well organized in a hierarchy in the project. But after packaging, the structure are flattened and all the headers are placed in the root of the header directory in framework.
It is not a nice way to find target header file especially when the framework has a lot headers, like mine.
Is it possible to keep headers directory structure when creating

[2015-10-29 05:19] segiddins commented on #108
CocoaPods master actually does this now :)

[2015-10-29 05:56] MasterBeta commented on #108
Great:) Any details? What should i do to keep the hierarchy?
<img width="242" alt="2015-10-29 1 54 14" src="https://cloud.githubusercontent.com/assets/1549132/10811232/bf5127aa-7e44-11e5-9b6f-ea9f65ec25b0.png">

[2015-10-29 07:04] segiddins commented on #108
I have no idea if packager will have to do anything different, I haven't had a chance to test it out yet.

[2015-10-29 08:38] MasterBeta commented on #108
@segiddins Did you mean there is an other way to create framework besides "pod package"? Could you be a bit more specific?

[2015-10-29 11:34] agarwalswapnil commented on #101
I faced the same problem while trying to manully integrate a library(.lib) in a Xcode project. This worked for me, though I had to spent around 5 hours. @jtreanor thank you.

[2015-10-29 11:35] jtreanor commented on #101
@agarwalswapnil You're welcome :smile:

[2015-10-29 14:57] segiddins commented on #108
I mean the frameworks cocoapods generates in the pods project will now respect the header mappings for set in the podspec.

[2015-10-30 07:51] QF-ZhouCheng opened #109 "pod package success，but framework has no content"
I use 'pod package' to generate my new framework, and it succeed, but the result folder has a spare folder 'build', and when i use the framework in one project, caught a error show the framework can not be found, the framework file is strange, generally, it should be 12 MB, but now only 109KB, how is it?

Any advice will be appreciate, thanks in advance!

[2015-11-04 18:43] neonichu commented on #108
Should be possible to do this, but it isn't implemented in the packager.

[2015-11-04 18:44] neonichu commented on #109
Do you receive any errors while you're packaging? Can you share an example project?

[2015-11-05 02:39] QF-ZhouCheng commented on #109
Forgot to sync the fix information. I have fixed this issue. At first the cocoapods gem I use is 0.38.2, and the cocoapods-packagers gem version is 1.2.1,when i update the version of cocoapods to 0.39.0 and cocoapods-packager's version to 1.3.0, the issue was fixed, but I don't know what change of the new cocoapods caused the issue. Appreciate the help from @YoungShook

[2015-11-05 09:50] #109 closed

[2015-11-07 00:42] incanus opened #110 "not mangling not working"
What am I doing wrong here?

[code]

I've tried `--library` and `--embedded` as well, but no change.

[2015-11-07 00:43] segiddins commented on #110
This is a known issue, will be fixed by https://github.com/CocoaPods/cocoapods-packager/pull/107.

[2015-11-07 00:50] incanus commented on #110
:+1:

[2015-11-10 14:20] crespoxiao opened #111 "how to output a debug package by cocoapods-packager ?"
hey there,
      i use the cmd < pod package xxx.podspec --force> to output a framework,it's release package even i set the build configuration to debug in Xcode by edit schema.
     And when i check <pod package --help> there is no option about how to output debug package.
     Any solution ? Thank you !

[2015-11-10 15:47] neonichu commented on #111
This isn't supported at the moment.

[2015-11-18 16:17] johanrydenstam opened #112 "Resources are not copied"
Resource/resources defined in `podspec` are not copied.

When adding something like
``` s.resource = 'Pod/Assets/Info.plist'```
to the podfile a `Resource` folder is created in the Framework but it remains empty.

`pod package XYZ.podspec` also generates a message saying:
`usage: cp [-R [-H | -L | -P]] [-fi | -n] [-apvX] source_file target_file
       cp [-R [-H | -L | -P]] [-fi | -n] [-apvX] sour

[2015-11-18 16:24] neonichu commented on #112
Did you validate the podspec? This sounds like the resource is not found.

[2015-11-19 08:58] johanrydenstam commented on #112
Yes, I did validate it.

And the resource is included when using it as a non-framework pod

[2015-11-19 09:14] neonichu commented on #112
Unfortunately, I could not reproduce it with a quick generic test myself, so I'd need a concrete project where this happens to investigate further.

[2015-11-25 14:24] tagyro opened #113 "Symbol mangling and package usage"
I'm developing a pod, let's call it 'MyPod', which has some dependencies, let's say AFNetworking, RNCryptor and CocoaAsyncSocket.
MyPod in turn is a dependency for another project, My Project, which also has RestKit as a dependency.
This is the final structure:

MyProject
    |---------MyPod
    |           |--------AFNetworking - 2.6.3
    |           |--------RNCryptor
    |           |--------C

[2015-11-25 15:20] neonichu commented on #113
In theory, this setup should work — you would need to be a bit more specific in order for us to determine what might be going wrong.

[2015-11-26 07:48] jimmyken opened #114 "NoMethodError - undefined method `attributes_hash' for nil:NilClass"
### Stack

[code]

### Plugins

[code]

### Error

[code]

[2015-11-26 09:35] neonichu commented on #114
Could you please share the podspec you are trying to package?

[2015-11-30 21:23] tagyro commented on #113
@neonichu You're right, in most cases this works. It wasn't working in my case because one of the libraries I was using was still in use in the public header.
I'll open a new issue with a feature request and a sample project to exemplify my somewhat special case.

[2015-12-02 16:14] tagyro commented on #113
I've created a new branch of the SDK I'm working on which is available at https://github.com/sensorberg-dev/ios-sdk/tree/v2m
The SDK has AFNetworking as a dependency. I've managed to move all AFNetworking related calls into "internal" classes which means that the SDK can be "mangled" and another AFNetworking version could be used by a 3rd party.
The problem now is that I'm also using Tolo (an even

[2015-12-02 16:14] #113 closed

[2015-12-03 10:02] bobrosoft opened #115 "Error when trying to pack Swift Framework: add "use_frameworks!" to your Podfile"
Hi there!

I recently installed cocoapods-packager and trying to pack my Swift Framework. If I correctly understand from https://github.com/CocoaPods/cocoapods-packager/issues/56 it's supported, right?

I'm getting this:
[code]

for that podspec
[code]

I don't understand about what Podfile is it talking about? It generates own Podfile to install all dependencies? My Podfile in my repo off course

[2015-12-03 10:17] neonichu commented on #115
I think #99 never considered Swift dependencies, so your setup is currently not supported.

[2015-12-03 10:18] neonichu commented on #114
Closing because of lack of response.

[2015-12-03 10:18] #114 closed

[2015-12-03 10:18] neonichu commented on #112
Closing because of lack of response.

[2015-12-03 10:18] #112 closed

[2015-12-03 10:21] bobrosoft commented on #115
Mmm, ok. So, to summarize:
 - packing of Swift frameworks are not supported
 - packing of frameworks with Swift dependencies are not supported

Correct? Or first is possible if no external Swift dependencies are used?

[2015-12-03 10:24] neonichu commented on #115
I think the first should be possible, as long as all dependencies are ObjC.

[2015-12-04 08:33] ajitam commented on #105
I limit down this error to Realm so I posted issue there

[2015-12-04 08:33] #105 closed

[2015-12-22 11:58] ajitam commented on #105
Hi, I just wanted to update this issue. As it turns out in the end the problem was (is still is) in... xCode :)
The thing is that if I rollback Realm version to 0.95.0 it works and for 0.95.3 it doesn't - but not because of anything **in** the code. Problem is the **length** of code.

I managed to found the error: `Argument list too long`

That means that new version of Realm has increase number o

[2016-01-04 10:28] martindaum opened #118 "Unsealed contents when a pod contains a CoreData model file"
Whenever I try to include a CoreData model file in the resources of my CocoaPod and try to use the packaged pod in a sample project, I get the error "unsealed contents present in the bundle root".

The issue can be reproduced by using the following sample project.
https://github.com/Ashton-W/CoreDataPodSample

The structure of the resources in the resulting framework seems messed up:
<img width="4

[2016-01-04 10:32] neonichu commented on #118
I'm not sure if relevant, but there's a fix for some issues with resources in CocoaPods/CocoaPods#4635 — might be worth trying to package with CP 1.0 beta installed to see if that fixes this issue as well.

[2016-01-04 11:08] martindaum commented on #118
Trying to use cocoapods-packager with CP 1.0 pre results in the following error:

[code]

[2016-01-04 12:09] neonichu commented on #118
OK, then that isn't an option right now and cp-packager needs to be adopted to the new API first.

[2016-01-05 11:01] leviyehonatan commented on #101
i would like to use this fix it seems 1.3.0 does not include this is there a way to install a snapshot version of the packager?

[2016-01-05 11:10] neonichu commented on #101
I'll make a new release, it's time anyway :)

[2016-01-05 11:42] neonichu commented on #101
At an impasse for a new release right now, because there seems to be a test suite regression when using CP 0.39 which I don't have time to debug right now.

You can install `master` yourself, though, by checking out the repo and running:

- `rake install` if you use any kind of custom ruby
- or ```
$ rake build
$ sudo gem install pkg/cocoapods-packager-1.3.0.gem``` if you are using system ruby.

[2016-01-05 12:17] leviyehonatan commented on #101
any estimate on that?

On Tue, Jan 5, 2016 at 1:42 PM, Boris Bügling <notifications@github.com>
wrote:

[2016-01-05 13:20] neonichu commented on #101
Since CP 1.0 is close, I'll probably just update to that, so it'll be a few weeks.

[2016-01-05 14:22] leviyehonatan commented on #101
so i have to revert to 0.38 of CP to run the master branch?
— Yehonatan
leviyehonatan@gmail.com

[2016-01-05 15:09] neonichu commented on #101
I'm not sure, as said above a test suite regression happens with 0.39, but that doesn't necessarily mean that there is an actual regression or that you would hit it. Might make sense to just try and see if it works fine for you with 0.39

[2016-01-20 10:18] leviyehonatan commented on #101
any news about this?

[2016-02-09 15:35] ExoticObjects commented on #82
His library seems to only compile when no using `--no-mangle`. But assuming it could be compiled with or without that switch, can you answer the following questions?

What would the `#import

[2016-02-09 19:50] ExoticObjects opened #120 "Framework seems to build ok, but can't make imports work"
I forked the two projects referenced [here](https://github.com/CocoaPods/cocoapods-packager/issues/82) to test basic functionality of cocoapods-packager. I'm sure it works fine, but I can't successfully import and use the framework I've compiled. A bit more documentation would be nice. Once I figure out how to make it work I'll add some and submit a pull request...

Here are the projects:

* [Test

[2016-02-09 20:04] wonc003 commented on #120
I've having the same issue, tried setting valid architectures in the generated pod project, tried including multiple platforms.

[2016-02-09 20:31] neonichu commented on #120
The missing symbols are from `SystemConfiguration` and `CoreServices`/`MobileCoreServices` system frameworks. Those not being carried over to the generated podspec is a known issue #67, you can have a look at the AFNetworking podspec on how to add them.

[2016-02-09 20:53] wonc003 commented on #120
My problem is a little different. My pod does not contain any dependencies and I get the following error when building:

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_DATGClientlessAdobePass", referenced from:
      objc-class-ref in AuthManager.o
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2016-02-09 20:57] ExoticObjects commented on #120
Thanks! Works now. I'll submit a PR soon.

[2016-02-09 21:55] neonichu commented on #120
@ExoticObjects awesome :+1:

[2016-02-09 22:01] ExoticObjects opened #121 "Packager not creating any headers"
Using the test projects I created [in this ticket](https://github.com/CocoaPods/cocoapods-packager/issues/120):

* [Test Framework Source](https://github.com/ExoticObjects/TestFramework)
* [Test Framework Compiled](https://github.com/ExoticObjects/TestFrameworkCompiled)
* [Test Framework Consumed](https://github.com/ExoticObjects/TestLibraryConsumer)

...when I run the packager it creates some hea

[2016-02-09 22:07] neonichu commented on #121
Are you able to share the podspec used for this?

[2016-02-09 22:15] ExoticObjects commented on #121
It's currently in a private repo and the podspec points to a few other private repos, but here it is for the most part. Nothing fancy at all:

[code]

[2016-02-09 22:24] neonichu commented on #121
Yah, nothing fancy I can see — does running `pod spec lint` on it show anything?

[2016-02-09 22:29] wonc003 opened #122 "Framework built for tvOS does not run on tvOS Simulator"
When defining the platform in the podspec as :tvos, the framework generate will run fine on the device but when I try to run the project on the tvOS simulator the project fails to build with the following error:

"file was built for archive which is not the architecture being linked (x86_64)"

If I change the platform to ios in the podspec I can use the framework to run on the tvOS simulator but h

[2016-02-09 22:44] neonichu commented on #122
This is a known issue, see #103 — fat binaries are only build correctly for iOS at the moment.

[2016-02-09 22:44] #122 closed

[2016-02-09 23:03] wonc003 commented on #103
Any update on this issue? Is it a matter of include tvos build objects like ios_build_options does? Or am i simplifying the problem...

[2016-02-09 23:06] segiddins commented on #103
Making a PR is going to be the fastest way to make this happen :)

[2016-02-09 23:37] ExoticObjects commented on #121
What's odd is that this library compiles and my app runs fine. But (as I just found out) it doesn't lint. And now that I've 'fixed' some of the problems, the package doesn't build anymore.

So, I'm guessing failure to lint would result in lack of headers?

[2016-02-09 23:43] ExoticObjects commented on #121
Well, it was building, but lint fails. That's led me to find some real errors that need fixing, I guess, even though Xcode uses the same library then compiling my test app and it works fine.

I realize this is now a new topic, but I'm getting errors like this:

[code]

Not sure what to make of that...

[2016-02-10 09:25] neonichu commented on #103
@wonc003 it's basically about making the steps we do for iOS generic and pass in the platforms, similar to this commit <https://github.com/neonichu/Rome/commit/e2f5cb25937a913580d79220b99a85cf7507f039>

[2016-02-10 09:29] neonichu commented on #121
Can you provide more of the build log? I'm assuming building `EOSetup.o` fails before this error.

[2016-02-10 20:07] ExoticObjects commented on #121
You're right! Thanks, I've got it building now... Somehow the (literally) 50,000 lines of output from Xcode makes it hard to know what went wrong...

[2016-02-10 20:08] #121 closed

[2016-02-10 23:37] #120 closed

[2016-02-11 18:31] ExoticObjects opened #124 "Pods or frameworks inside frameworks"
So, if I'm just using Cocoapods normally and I have a local development pod that has some dependencies on, say, AFNetworking, I can import a class from my local pod like this:

`#import <MyPod/MyClass.h>`

and from AFNetworking like this:

`#import <AFNetworking/AFNetworking.h>`

After packaging up that same local pod using Cocoapods-packager, the imports for my development pod still work, but I c

[2016-02-12 09:54] neonichu commented on #124
No, this is intentionally not possible with cp-packager, headers of dependencies are never exported.

[2016-02-12 09:54] #124 closed

[2016-02-13 16:24] ExoticObjects commented on #115
"packing of frameworks with Swift dependencies are not supported"

Any thoughts on if/when this will be supported? Not having this functionality is adding a good deal of extra work packaging up my library.

[2016-02-13 21:48] neonichu commented on #115
Personally, I cannot devote time for substantial feature work on cp-packager at the moment. I would happily provide assistance if you or someone else wants to work on a PR, though.

[2016-02-19 21:52] djMax opened #127 "Allow custom script steps in packaging phase?"
I have a project which uses some generated files as part of the build. Right now, I have to make a whole separate git repo with these generated files in them in order to package. It would be nice if I could have a script that runs during the packaging phase, but I don't see a way to do this now.

[2016-02-20 21:14] neonichu commented on #127
I believe any defined `prepare_command` (see <https://guides.cocoapods.org/syntax/podspec.html#prepare_command>) will be executed when packaging. Does this help?

[2016-02-20 21:52] djMax commented on #127
I don't think that runs during packaging - at least it didn't for me. Maybe I did something else wrong, so if "it really should" then I'll dig more.

[2016-02-21 00:34] neonichu commented on #127
Since a `pod install` is basically part of the process, they *should* run, but I haven't tested it myself at all.

[2016-02-21 16:09] leviyehonatan commented on #53
sorry to interrupt or anything, but what is the status of this, i am puzzled, can --library work with current released version of packager?

[2016-02-21 17:32] neonichu commented on #53
The option works, but the generated podspec is incorrect.

[2016-02-22 10:44] leviyehonatan commented on #53
as long as the library .a binary file is ok thats ok but last time we talked about this you said it won't work with latest cp

[2016-02-24 03:19] djMax commented on #111
Any pointers on how to add support for this? We need it as well as other "variant" support so are willing to do some work.

[2016-02-24 09:40] neonichu commented on #111
@djMax Sure, thanks for offering to help.

There's a central place which calls `xcodebuild`: <https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/builder.rb#L264> — you could inject `-configuration Debug` there.

Adding a new CLI option can be done here: <https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/pod/command/package.rb#L11>

Let me know if you h

[2016-02-24 17:49] djMax commented on #111
How do subspecs work? Which one does it build? Where can that be changed?

[2016-02-24 22:30] djMax commented on #111
https://github.com/CocoaPods/cocoapods-packager/pull/128

[2016-02-29 19:43] ExoticObjects commented on #115
Can you elaborate a bit on what would be required to implement this feature? Are there reasons why it's especially difficult? For example, I know that name mangling is different and probably more difficult to deal with in Swift. I imagine that would come into play...

Some brief thoughts on what would need doing might help us decide if we should attempt this or not.

[2016-03-01 15:28] djMax opened #129 "How to bundle a third party .a?"
I have a podspec that includes a vendored .a library. I want that .a in my final output but "invisible" to the user - i.e. I want it bundled in my binary. In our old jverkoey-based framework scripts this worked. I think it worked because OUR stuff was in a .a, and that .a included the vendor .a inside. How can I do the same thing with cocoapods-packager?

[2016-03-01 15:33] neonichu commented on #129
Unfortunately, this is not supported right now, see #26

[2016-03-01 15:34] djMax commented on #129
Does that imply --no-mangle DOES lipo them in now?

[2016-03-01 15:35] djMax commented on #129
Looks like manual lipo could do it, which would be fine for me.

[2016-03-01 15:39] djMax commented on #129
Actually, I guess it wouldn't be lipo, it might be libtool?

[2016-03-01 15:41] neonichu commented on #115
Dependencies would need to be build as dynamic frameworks, instead of static libs and the `lipo` commands would likely need some adjusting.

What I am currently unsure about is how modules would behave, since there's an assumed 1-to-1 mapping between frameworks and modules, but each Swift-based Pod would be its own module. I would suggest to start by trying to vendor a very simple Swift framework

[2016-03-01 15:44] neonichu commented on #129
Right, `libtool` would be the way to go, similar to how it is currently used internally: https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/builder.rb#L128

[2016-03-01 15:46] djMax commented on #129
Looks like libtool comes before lipo, I assume by necessity? So I end up having to unpack and repack... Fun.

[2016-03-01 15:47] djMax commented on #67
This is still a bug right? Where would the fix go?

[2016-03-01 16:28] #129 closed

[2016-03-04 00:47] ExoticObjects opened #130 "Can't use framework made with packager as a dependency in a podspec"
* Made the simplest possible framework - one class with one method, no dependencies.
* Packaged it up like this:

[code]
* I can use this framework from my appDelegate
* If I try to declare the framework as a dependency in another pod, I get the `target has transitive dependencies that include static binaries` error.
* I can make the error go away using `verify_no_static_framework_transitive_depen

[2016-03-04 21:51] ExoticObjects commented on #130
If I run this

[code]

then I end up getting errors like this

[code]

which indicates that pod_b doesn't have access to the framework in pod_a.

Any idea what I might be doing wrong?

[2016-03-04 22:46] segiddins commented on #130
@ExoticObjects that's why that check for transitive static deps exists :)

[2016-03-04 22:52] ExoticObjects commented on #130
Can you explain why the framework I made with the packager is a transitive
dependency?
On Fri, Mar 4, 2016 at 5:46 PM Samuel E. Giddins <notifications@github.com>
wrote:

[2016-03-04 23:06] segiddins commented on #130
`--embedded` makes it a static framework, iirc

[2016-03-04 23:40] ExoticObjects commented on #130
I'm thankful for the info! I'll give it a try.

FWIW, the documentation on this could, well, be better.

Here's what `pod packager --help` returns that might be relevant:

[code]

And here are some decent definitions of the pertinent terminology from [here](http://code.hootsuite.com/an-introduction-to-creating-and-distributing-embedded-frameworks-in-ios/):

* Static frameworks are linked at compil

[2016-03-05 18:34] rgal75 commented on #98
@jtreanor I am also facing this bitcode issue. I applied the workaround you mentioned above but it only includes bitcode in my library. However, my library has a Pod dependency (AFNetworking) and the application I am linking against my library complains upon archiving that:
`ld: bitcode bundle could not be generated because '/Users/xxx/work/MyApp/MyLib.framework/MyLib(AFHTTPRequestOperationManager

[2016-03-07 05:28] neonichu commented on #67
I think the idea would be to use `libtool` to integrate them into the binary, similar to the dependencies build as part of the regular process <https://github.com/CocoaPods/cocoapods-packager/blob/master/lib/cocoapods-packager/builder.rb#L128> for static libs or they would need to be added to the linker flags for linking the dynamic libraries in the `—dynamic` case <https://github.com/CocoaPods/co

[2016-03-07 09:00] jtreanor commented on #98
@rgal75 yes, the changes I made should address this (I am using AFNetworking without issue).

[2016-03-10 07:01] pellet opened #131 ""Symbols hidden by default""
When using cocoapods-packager (1.3.0) It will not allow my pod's symbols to be kept private(thus reducing it's binary size).
I used
`s.pod_target_xcconfig            = { 'GCC_SYMBOLS_PRIVATE_EXTERN' => 'YES' }`
I have yet to try specific compiler flags for each file.
This setting is of great significance for packaging, to not only reduce the package size but also reduce the number of symbols requi

[2016-03-11 20:52] ExoticObjects commented on #130
After packaging without using the `--embedded` flag, I still have the same problem.

The [very simple test project](https://github.com/ExoticObjects/test_sibling_dependencies) is still available. I'd love to know what I'm doing wrong!

[2016-03-14 09:32] neonichu commented on #130
You need the `--dynamic` flag to create a dynamic framework. The `--embedded` flag only changes the packaging structure, not the type of binary being produced.

[2016-03-14 21:37] ExoticObjects commented on #130
Great to know! Wish I'd known that two weeks ago :-(

This is the full output of `pod package --help`:

[code]

Any reason not to include the `--dynamic` flag in there?

[2016-03-14 21:55] ExoticObjects commented on #130
Also, when I try to pass in `--dynamic` I get an error:

[code]

I can see the dynamic option listed in package.rb:

[code]

but it doesn't show up when I use `pod package --help`, and doesn't work in the code above.

Perhaps something is wrong with my cocoapods-packager installation?

[2016-03-14 22:23] ExoticObjects commented on #130
Aha, my installed version of cocoapods-packager (at `~/.rvm/gems/ruby-2.2.1/gems/cocoapods-packager-1.3.0/lib/pod/command/package.rb`) lists the options without `--dynamic`:

[code]

while the source that I checked out lists the --dynamic option.

I'm not a ruby developer, so I'm not sure how to update the gem to the latest. I have 1.3.0, which I believe IS the latest:

[code]

Everything I've rea

[2016-03-15 06:04] neonichu commented on #130
Ah, right, I forgot that the dynamic library support wasn't released as a gem, yet. Since supporting CP 1.0 requires a few changes and it is due soon, I don't want to make any releases supporting 0.39 anymore.

[2016-03-16 15:54] ExoticObjects commented on #130
I'm a bit confused. The version that supports dynamic libraries requires CP 1.0? But I've read elsewhere that that version isn't ready to deploy yet. In short, can I use the version of cocoapods-packager that supports dynamic frameworks, and if so, how?

thanks...

[2016-03-27 23:42] ExoticObjects commented on #130
Got around to trying the latest version from git, getting this error:

[code]
This is the command I'm running:

`pod package test_sibling_dependencies_pod_a.podspec --embedded --force --dynamic`

It fails while building dynamic framework.

Any help would be sincerely appreciated!

[2016-03-29 09:00] neonichu commented on #130
Sorry for this, it might be an incompatibility with CP 0.39. As said above, there's work underway to support CP 1.0 but no plans for digging deeper into 0.39 issues anymore.

[2016-03-29 12:15] ExoticObjects commented on #130
Any timeframe for CP 1.0 support?
On Tue, Mar 29, 2016 at 5:00 AM Boris Bügling <notifications@github.com>
wrote:

[2016-03-31 12:10] satyamub commented on #115
@neonichu I have made a Library ported to cocoapod and which has few third party frameworks included.. I am able to get those framework referenced when user install my pod. what I am achieving is to create a library from that cocoapod. I am getting this above error message when I try to package the cocoapod. I made the example/ source lib in Swift. Is that the cause of the problem, I can make Obje

[2016-04-05 11:22] neonichu commented on #130
I'll try to have it ready for the CP 1.0 final release.

[2016-04-05 21:55] ExoticObjects commented on #130
So, is there currently any way to build dynamic frameworks? It doesn't work yet with 1.0, and there are problems with 0.39.0.

[2016-04-14 15:27] gigi-mohemian opened #135 "Add an example .podspec that includes build settings"
How would I go about doing that? I found nothing in the docs or in the help.

I would like to build a framework out of my pod with bitcode enabled and I feel stuck. I'm grateful for any hint.

[2016-04-14 15:35] segiddins commented on #135
The CocoaPods guides have a section for different podspec attributes

[2016-04-14 16:03] gigi-mohemian commented on #135
Thanks for the quick reply and pointing me in the right direction!

I found an example [here](https://guides.cocoapods.org/making/specs-and-specs-repo.html).
`facebook.compiler_flags = '-Wno-incomplete-implementation -Wno-missing-prototypes'`

So I tried to use it in my podspec file like this:
`s.compiler_flags = '-Wno-implicit-function-declaration'`

And build the static library using
`pod packag

[2016-04-14 16:17] neonichu commented on #135
Seems like you have found a bug with passing some custom `compiler_flags`.

[2016-04-14 17:20] segiddins commented on #135
Those need to be passed as other c flags or other cpp flags

[2016-04-14 17:27] neonichu commented on #135
Which already should be happening anyway through the generated Xcode project by CP itself, not sure why this additional code is even there.

[2016-04-15 07:31] gigi-mohemian commented on #135
I am using cocoapods `version 0.39.0` by the way.

[2016-04-15 07:33] gigi-mohemian commented on #135
Using cocoapods `version 1.0.0.beta.7` I get a different error.

### Command

[code]

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2016-04-15 14:02] gigi-mohemian commented on #135
I managed to achieve what I wanted to achieve by explicitly exporting `OTHER_CFLAGS` before running `pod package`.

[code]

Maybe this helps someone who has a similar problem. In any case, thanks again for your support and quick response.

[2016-04-16 04:29] 0x5e opened #136 "symbol(s) not found after using packaged static framework"
Hi all, I created a project using AFNetworking, and package them to a static framework using `pod package GSTestKit.podspec --force`.
When I use it in another project, failed with following error:
[code]
Here is my example project: https://github.com/0x5e/GSTestKit.git
Could anyone help?

[2016-04-16 05:24] 0x5e commented on #136
Found solutions here: http://www.cnblogs.com/brycezhang/p/4117180.html
Add `MobileCoreServices.framework` and `SystemConfiguration.framework` to `Link Binary With Libraries` in project.
Is there any better solutions? 😊

[2016-04-16 07:43] jtreanor commented on #136
If you add these to `frameworks` in your podspec, it should work. Something like this:

[code]

What you are seeing here is https://github.com/CocoaPods/cocoapods-packager/issues/67

[2016-04-16 08:39] 0x5e commented on #136
@jtreanor  thanks!

[2016-04-16 08:39] #136 closed

[2016-04-21 09:15] gigi-mohemian commented on #115
Any recent developments regarding this issue?

[2016-05-13 03:26] fengyunjue opened #137 "When I want to use pod papackage to make a static library in cocoapods - 1.0.0,it has an error , but in cocoapods - 0.39.0 without error"
Usage of the constant Pod::SourcesManager is deprecated, use Pod::Config.instance.sources_manager instead (called from /Users/admin/.rvm/gems/ruby-2.0.0-p598@global/gems/cocoapods-packager-1.3.0/lib/cocoapods-packager/pod_utils.rb:73:in `spec_with_name')

――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

Command

/Users/admin/.rvm/gems/ruby-2.0.0-p598/bin/pod packa

[2016-05-13 08:16] neonichu commented on #137
Sorry, I have yet to finish the changes required for cocoapods-packager to support 1.0

[2016-05-14 18:52] ExoticObjects commented on #130
Hi! Now that Cocoapods 1.0 has been released, should this work?

To review, here's the problem I was having:

- I wanted to build a framework that could be a dependency of a pod. To avoid the `target has transitive dependencies that include static binaries` error, that framework would need to be dynamic.
- The version of Cocoapods-packager that worked with Cocoapods 0.39.0 didn't support creation

[2016-05-28 09:52] allentofight commented on #53
Today I also come across this issue,I use the `--library`, and It just leave me the *.a without header file,I think it should give me header file too

[2016-05-28 13:00] allentofight opened #139 "The builded framework does't work on simulator"
When I use the following command to build the framewok and use it in workspace

[code]

when run in device, It's OK,but when run it in simulator ,it builds fail,like the following

[2016-05-28 14:05] allentofight commented on #139
Maybe I find the reason,it reports duplicate symbol error,from the reason,I think when build for i386,you don't rewrite the dependency's pod class name

[2016-05-28 19:11] neonichu commented on #139
Is it only that single symbol which is duplicated?

[2016-05-29 05:51] allentofight opened #140 "pod package fail when there is a private repo dependency"
[code]

the above BBZipLib is the private repo,But When I type the following command

`pod package xx.podspec  --force`, it reports the following error

`[!] Unable to find a specification for `BBZipLib (~> 1.0.1)` depended upon by `xxx`

when I type `pod search BBZipLib`, It gives me the right result

when I remove this line ` s.dependency 'BBZipLib', '~> 1.0.1' `, It works as expected,What's wro

[2016-05-29 06:32] allentofight commented on #139
It only reports this error,It's define in this file

https://github.com/pokeb/asi-http-request/blob/master/Classes/ASIHTTPRequest.m

this line
[code]

[2016-05-29 13:00] allentofight commented on #140
It seems that it only recognize the spec in `~/.cocoapods/repos/master/Specs` ,When I copy my private spec to this directory ,I works! Is it a bug?

[2016-05-30 02:49] neonichu commented on #140
Did you try using `--spec-sources` — you can use that to pass in additional repos.

[2016-05-30 02:53] allentofight commented on #140
You mean this?
`pod package xx.podspec --spec-sources='http://xxxx' --force`

[2016-05-30 03:03] neonichu commented on #140
Yep

[2016-05-30 03:07] allentofight commented on #140
it woks!Thank you very much!!!

[2016-05-30 03:18] neonichu commented on #140
👍

[2016-05-30 03:18] #140 closed

[2016-06-01 03:44] ruikaili commented on #139
The same problem , how to solve this? thank you~

[2016-06-06 09:49] XZoscar commented on #137
I have the same problem. @segiddins @fengyunjue

[2016-06-06 10:29] XZoscar commented on #137
I have the same problem. @segiddins @fengyunjue;
It is ok, when cocoapods 0.39.0 and cocoapods-packager 1.2.1.

[2016-06-06 18:25] #137 closed

[2016-06-06 18:25] #130 closed

[2016-06-08 05:32] XZoscar opened #142 "[!] Pods written in Swift can only be integrated as frameworks; add `use_frameworks!` to your Podfile or target to opt into using it. The Swift Pods being used are:"
[!] Pods written in Swift can only be integrated as frameworks; add `use_frameworks!` to your Podfile or target to opt into using it. The Swift Pods being used are:

when use pod package xxx.spec (swift)

[2016-06-08 06:57] neonichu commented on #142
See #115

[2016-06-08 06:57] #142 closed

[2016-06-08 07:26] XZoscar commented on #115
I have the same problem.

[2016-06-08 07:36] XZoscar opened #143 "error: cocoapods-packager, s.dependency is private pod (no github)"
pod package my.spec ( spec.dependency 'MyBase', '~> 1.0.0' )  --spec-sources=private
[code]
NoMethodError - undefined method `attributes_hash' for nil:NilClass
/Library/Ruby/Gems/2.0.0/gems/cocoapods-packager-1.4.0/lib/cocoapods-packager/pod_utils.rb:82:in `block (2 levels) in binary_only?'
/Library/Ruby/Gems/2.0.0/gems/cocoapods-packager-1.4.0/lib/cocoapods-packager/pod_utils.rb:81:in `each'
/Lib

[2016-06-08 07:39] XZoscar commented on #143
使用pod package 自动打framework,
当spec中s.dependency为私有的MyBase时，报错了
然而，使用github上的一个spec文件（具有s.dependency）是OK的

[2016-06-08 17:07] neonichu commented on #143
Could you please share your podspec?

[2016-06-09 04:26] Wilson2014 opened #144 "Missing Resources Bundle when Drag packaged framework to a project"
Hi man,

I need some help on below two questions as it's confusing me a lot time:

My framework contains a resource bundle defined in podspec using resource_bundles, after packed I can see a bundle with the name I specified in pod spec under generated framework properly. But when I drag the framework to a test project only the headers are included without the bundle,I have to drag the bundle to by

[2016-06-09 05:36] neonichu commented on #144
There's a `--dynamic` option to generate a dynamic framework, the default is building static frameworks. In terms of app review, there's not really a difference between using a framework build by cp-packager and one you build using an Xcode target.

The issue you're seeing with resources is related: because static frameworks only exists at compile time, resources won't be part of your app — only d

[2016-06-09 05:36] #144 closed

[2016-06-10 12:35] Boobby69 opened #145 "OpenSSL not part of the package"
Hi,

I'm trying to package a framework with OpenSSL library.
Below, you'll find a podspec with the problem. It's a fake one, but should reproduce the problem.
In my podspec, I have 5 dependencies. As I run the command `pod package Library.podspec --verbose`, I can see `-> Installing OpenSSL (1.0.208)` in the "Downloading dependencies" section. But, in the "Generating Pods project", there is no "In

[2016-06-10 17:10] neonichu commented on #145
Any `vendored_libraries` are currently not supported, see #26 — and OpenSSL uses that attribute.

[2016-06-10 17:10] #145 closed

[2016-06-14 08:51] allentofight opened #146 "Symbols of static library not symbolicated in release build?"
I use pod package to  build the static library successfully ,but I worry I think the symbols is stripped from the library ,because the following option is YES in release configuration, it will lead to the symbols' in static library missing ,how to solve it?

[code]

[2016-06-30 02:52] ruikaili commented on #139
Is there any progress?

[2016-07-12 08:52] thomasjoulin opened #147 "Fail to generate framework"
I'm using CocoaPods 1.0.1 and cocoapods-packager 1.4.0, the same command that used to work pre-1.0 doesn't. I'm wondering if it's the `cp` fail that causes all this?

[code]

[2016-07-12 09:08] neonichu commented on #147
No, it's the other way around, the build failure means no libraries are created and therefore the `cp` later on fails. Nothing more can really be deduced from the truncated output, there's a compiler error happening, you'll have to take a closer look at the build log to find out what might be causing it specifically.

[2016-07-12 09:40] thomasjoulin commented on #147
@neonichu thanks for the prompt reply. I looked deeper and caught the issue (one of my dependency wasn't properly setup for watchos). I also noticed ios and osx frameworks were generated so I tried again with updated deps, and it seems to work, except I still have these `cp` issues. I'll try the frameworks but looks like a warning I can ignore? weird

[code]

[2016-07-12 10:43] thomasjoulin commented on #147
ok after installing the framework in my project build & run in simulator I get a warning:

[code]

[2016-07-12 10:51] neonichu commented on #147
Building for watchOS or tvOS isn't actually supported, yet, sorry — see #103

[2016-07-12 10:51] #147 closed

[2016-07-14 12:58] jtreanor opened #148 "Dynamic framework improvements"
We will soon start shipping our SDK as a dynamic Framework but there are currently a few limitations.

I will happily fix these myself, but I am not sure exactly how.

1. The Bundle identifier in the produced `Info.plist` is always `org.cocoapods.{Pod Name}`. Any ideas how we could provide a custom value for this?
2. Would it be possible to include a`.dSYM` in packager's output? My understanding i

[2016-07-14 13:04] segiddins commented on #148
There's an open issue on cocoapods for dsym support but it's not been implemented

[2016-07-14 13:15] jtreanor commented on #148
Ah, thanks @segiddins.

Can you think of any way it could be possible to change the Bundle identifier?

For reference, the issue is here: https://github.com/CocoaPods/CocoaPods/issues/1698

[2016-07-14 13:39] neonichu commented on #148
1. I think this is where CocoaPods itself sets the bundle identifier: <https://github.com/CocoaPods/CocoaPods/blob/3cf03bbd26ec830015bc8e7201c9d3a772a5b978/lib/cocoapods/installer/xcode/pods_project_generator/aggregate_target_installer.rb#L59>. It should be possible to change this build setting after Pod installation has finished and before building. We could make this a CLI option.

2. I'm pretty

[2016-07-14 13:41] jtreanor commented on #148
@neonichu That makes sense. I'll dig around a little and see what I find.

[2016-07-15 21:19] xwang-phunware opened #149 "Only the headers of 'vendored_frameworks' are copied into framework"
I add a vendord framework `MyInternal.framework` like the below in my `MyProject.podspec`
....
`s.vendored_frameworks = 'Vendor/MyInternal.framework'`
....

And the `MyInternal.framework` structure like:
MyInternal.framework
|--Headers
|         |--MyInternal.h
|         |--Others.h
|--Resources
|         |--en.lproj
|--MyInternal

Run `pod package MyProject.podspec xxx`, the `MyProject.framework`

[2016-07-15 22:00] neonichu commented on #149
Sorry, `vendored_frameworks` are not yet support, see #26

[2016-07-15 22:00] #149 closed

[2016-07-16 15:26] michaelochs opened #150 "pod package needs compatibility update for CP 1.1.0"
### Command

[code]

### Report

#### What did you do?

Run the above command - that's all

#### What did you expect to happen?

- It should create a `BCFoundation.framework` containing a dynamic framework
- It should create a podspec to be used with that framework

#### What happened instead?

- It crashes with the below stack trace, not creating any output at all on the file system

### Stack

[

[2016-07-16 16:09] segiddins commented on #150
Yeah, CocoaPods refactored some internals in 1.1.0, look like the packager will need to update for the introduction of the Xcode installer namespace

[2016-07-17 08:46] michaelochs commented on #150
Any way I can help without having any knowledge about how all that works? :)

[2016-07-21 14:28] jtreanor commented on #148
This concerns have now been addressed in #152 & #153.

[2016-07-21 14:28] #148 closed

[2016-07-22 21:22] xwang-phunware opened #154 "duplicate symbol ​_OBJC_CLASS_​$_PodsDummy_Pods_packager"
I tried to use the latest `cocoapods-packager` `v1.4.0` to generate `AAA.framework` and `BBB.framework`, and someone import both of those two frameworks got the following error:
[code]

Then I downgrade the `cocoapods-packager` to `v1.3.0` and I still got the similar issue, the only difference is that the duplicate symbol changes, it's like:
[code]

Looks like the pods dummy file name is constant

[2016-07-27 20:20] fuxx commented on #115
Same for me. Any status about this?

[2016-07-28 08:20] mdsb100 commented on #50
@alloy
+1
I am very excited.
We already do it.
Using cocoapods-packager to build binary.
podspec like this:
[code]
Install:
[code]
or
[code]
The two questions is:
1. It must be in private repo, because there is json file in github repo and there is podspec file in private repo.
2. If I  am going to change pod between source and binary, I have to clean cache first and remove Pods/ dictionary.

If s

[2016-07-28 13:48] segiddins commented on #50
I think we can close this since Rome does this?

[2016-07-29 21:38] neonichu commented on #50
@segiddins 👍

[2016-07-29 21:38] #50 closed

[2016-07-30 09:54] neonichu commented on #115
See [this comment](https://github.com/CocoaPods/cocoapods-packager/issues/115#issuecomment-183762864), unless someone from the community contributes a PR, this will remain unimplemented, unfortunately.

[2016-07-31 00:42] Kjens93 commented on #56
@neonichu's [comment](#issuecomment-145156279) appears to be incorrect. It would appear that this was NOT implemented by #99. See bug #115.

[2016-08-02 03:14] mdsb100 commented on #154
#155

[2016-08-02 04:30] aolan opened #156 "I want package a static library to another static library, did cocoapods-packager support"
I want package a static library to another static library, did cocoapods-packager support

[2016-08-02 12:33] neonichu commented on #156
There's no support for the `vendored_library` or `vendored_framework` attributes at the moment if this is what you're asking.

[2016-08-04 02:41] aolan commented on #156
thank you all the same.

[2016-08-04 02:43] aolan commented on #156
Thanks.

[2016-08-04 02:49] aolan opened #157 "About pod package cache"
I found a problem , podspec document which has s.version field . For example, the current version number is 1.0 , I used the "pod package" to compile a static library , this time I modified the code , but also use the 1.0 , I found the new modifications will not be reflected

[2016-08-04 17:44] neonichu commented on #157
Did you also modify the tag in your repo? `pod package` will always fetch the code from your repo, it does not use any local files.

[2016-08-04 17:44] #156 closed

[2016-08-05 06:13] aolan commented on #157
I submitted a new code to "gitlab", delete "tag1.0", and then re-create the "tag1.0". This time to use the "cocoapods-package" to create a static library , just find the modified code is not added to the static library.

[2016-08-05 06:16] aolan commented on #157
Yes，i have modifed the code and push to remote repo.

[2016-08-08 09:26] neonichu commented on #157
You might also need to run `pod cache clean` as the old tag might still be cached by CocoaPods itself.

[2016-08-11 05:20] aolan commented on #157
Thank you. After I used the "pod cache clean --all", really works. Thanks again.

[2016-08-11 08:38] #157 closed

[2016-08-17 06:13] intspt opened #158 "resource for subspec not copied"
`s.subspec 'eLongCustomInputView' do |ss|
ss.source_files = 'eLongFramework/eLongCustomInputView/*.{h,m}'
ss.requires_arc = true
ss.public_header_files = 'eLongFramework/eLongCustomInputView/*.h'
ss.resources = 'eLongFramework/eLongCustomInputView/eLongCustomInputView.xcassets'
ss.framework = 'Foundation'
end`

[2016-08-17 06:16] intspt commented on #158
the resource directory is empty

[2016-08-24 06:29] wangfaguo opened #159 "how to create private pod with framework which build by ‘ pod package’"
i got myApp.framework with the command line ‘pod package myApp.podspec’
but ,how to create  private pod with it.

[2016-08-24 09:10] neonichu commented on #159
A new `podspec` should have been generated alongside the framework after running `pod package`. You can learn more about private spec repos here: <https://guides.cocoapods.org/making/private-cocoapods.html>

[2016-08-24 09:10] #159 closed

[2016-08-25 18:13] pragmapilot opened #160 "Swift framework is packaged but does not contain any code"
# Report

I am developing a Swift framework that I want to distribute precompiled. `cocoapods-packager`successfully packs the library but it doesn't contain any code.

## What did you do?

I ran the following command:

[code]

## What did you expect to happen?

I expect the packaged library to contain all my public classes.

## What happened instead?

The generated library does not contain any pub

[2016-09-03 07:07] danielbowden commented on #158
I have just noticed the same thing with SAMKeychain. (https://github.com/soffes/SAMKeychain/blob/master/SAMKeychain.podspec)

[code]

Unfortunately this also causes a crash as SAMKeychain attempts to do this:

[code]

Crashes with `Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSBundle initWithURL:]: nil URL argument`

[2016-09-03 07:38] danielbowden commented on #158
Sorry mine isn't a subspec, `SAMKeychain` is a dependency of one of my dependencies. So a transitive dependency. Same result though, the resource bundle cannot be found

[2016-09-27 21:25] rfccg opened #162 "Framework created only including dependencies"
What I am trying to do?
I am trying to create a '.framework' that put together all code from my library and its dependencies with pod packager.
When I run 'pod lib lint XXX-SDK-Core.podspec' I get some warnings for deprecated functions, but nothing major:

   - WARN  | source: Git SSH URLs will NOT work for people behind firewalls configured to only allow HTTP, therefore HTTPS is preferred.
    -

[2016-09-28 05:02] aolan commented on #143
XZoscar , 你的问题解决了吗

[2016-09-28 05:41] aolan commented on #143
@XZoscar   你的问题解决了吗

[2016-09-28 05:42] aolan commented on #143
@XZoscar  你的问题解决了吗

[2016-09-30 08:24] tychop opened #163 "Is this project dead?"

[2016-10-04 18:30] ryot commented on #163
I hope it keeps going. This is a great tool for turning internal private pods into publicly releasable Framework files!

[2016-10-04 21:34] segiddins commented on #163
It's not dead, and PRs with improvements are welcome!

[2016-10-04 21:34] #163 closed

[2016-10-11 13:10] ITxiansheng opened #164 "creating subspecs can not exclude dependency"
s.name             = "LDBus"
s.subspec 'arc' do |sa|
        sa.public_header_files = 'LDBus/LDMBusContext.h', 'LDBus/LDUIBus/LDMUIBusConnector.h', 'LDBus/LDUIBus/LDMBusWebControllerProtocol.h', 'LDBus/LDMessageBus/LDMMessageReceiver.h','LDBus/LDUIBus/LDMNavigator.h'
        sa.source_files = 'LDBus/*.{h,m}', 'LDBus/LDBusConfig', 'LDBus/LDServiceBus', 'LDBus/LDMessageBus', 'LDBus/LDUIBus/*.{h,m}'

[2016-10-17 06:09] wangbaojun opened #165 "podspec has no s.reources option,but packaging output contain Resource Foldder which not empty"
I just pod package my.podspec. The out put contains some resources。However，there isn't .resource option in my.podespec. As Followings:

Pod::Spec.new do |s|
  s.name             = 'LDRemoteCommand'
  s.version          = '0.0.3'
  s.summary          = 'LDRemoteCommand pod'
  s.description      = "Remote command native part"

  s.homepage         = 'xxxxxxx'
  s.license          = { :type => 'MIT',

[2016-10-17 09:04] benasher44 commented on #165
Looks like your `s.source_files` might be too permissive. Try something like `s.source_files = 'LDRemoteCommand/**/*.{h,m,swift}'`

[2016-10-22 09:24] michaelochs opened #166 "Creating a dynamic framework fails"
### Command

[code]

### Report

* What did you do?
Really just run the above command on a newly published pod version (ViewDeck 3.0.0)

* What did you expect to happen?
A dynamic framework should have been created from the ViewDeck pod

* What happened instead?
This template was created and the error '[!] Oh no, an error occurred.' was shown.

Note that the command works without issues if I drop

[2016-10-22 15:03] segiddins commented on #166
Out of curiosity, does it work with older CocoaPods versions? If so, we probably just need to cut a new version that adds compatibility with 1.1. (This is one of the dangers of relying on non-public interfaces 😬)

[2016-10-23 09:49] michaelochs commented on #166
I used that a lot in previous versions but had issues now and then since 1.0. But these got fixed in the past.

[2016-10-23 15:27] segiddins commented on #166
Then I'm guessing this is just a 1.1 compatibility issue with classes being re-namespaced

[2016-10-25 03:43] #150 closed

[2016-10-26 09:48] pragmapilot commented on #160
@dzenbot 🙏 Yeah, after reading #115 I think that can be the source of the problems.

Anyway, I ended up solving the issue by using [Carthage](https://github.com/Carthage/Carthage) to generate the framework precompiled binary and it's working like a charm.

[2016-10-26 09:48] #160 closed

[2016-11-19 06:23] mcmengchen opened #167 "package not support category?"
I use package to make a framework, but when I use it in my project. It can not call the category's method. How can I resolve it?

[2016-11-19 17:16] segiddins commented on #167
Hey there, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the cocoapods-packager issues focused only on bug reports for the tool, and for upcoming feature requests. Which this doesn't look li

[2016-11-19 17:16] #167 closed

[2016-11-23 06:23] tiger8888 commented on #139
The same porblem

[2016-11-23 15:32] bamx23 opened #169 "Don't codesign"
Hi there!
Could you help me to figure up how to satisfy this line:
[code]

[2016-11-23 16:20] segiddins commented on #169
Try adding
[code]
To your podfile

[2016-11-23 16:50] bamx23 commented on #169
Which `Podfile`? Packager doesn't need one. I only have a `.spec` file.

[2016-11-23 16:55] segiddins commented on #169
Then try putting it in your podspec. Sorry, I misread the repo the issue was in.

[2016-11-23 18:18] bamx23 commented on #169
I've tried your variant but it not works(packaging failed).
But this code works:
[code]
There is a warning now, but everything works fine:
[code]
I'll close the issue if it's ok.

[2016-11-23 18:20] #169 closed

[2016-12-06 23:19] kwinegardner commented on #114
I'm getting this as well -

New system setup:
Mac: Sierra 10.12.1
Xcode: Version 8.1 (8B62)
ruby: ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin16]

cocoapods-deintegrate : 1.0.1
cocoapods-packager    : 1.5.0
cocoapods-plugins     : 1.0.0
cocoapods-search      : 1.0.0
cocoapods-stats       : 1.0.0
cocoapods-trunk       : 1.1.1
cocoapods-try         : 1.1.0

All I have installe

[2016-12-09 07:55] blackteachinese opened #170 "Unable to find a specification for `YSASIHTTPRequest (~> 2.0.1)` depended upon by `BZLib`"
Unable to find a specification for `YSASIHTTPRequest (~> 2.0.1)` depended upon by `BZLib`

[2016-12-09 09:08] blackteachinese opened #171 "TypeError when i used "pod packager""
### Error

[code]

[2016-12-12 06:11] glishijie opened #172 "How to get xcodebuild stdout ?"
I found that `pod package` call `xcodebuild` to build static or dynamic lib, but I want to get `xcodebuild` stdout, how do I get it ?

[2016-12-12 06:22] glishijie commented on #135
I want to export `CC` and `CXX` env var, but I find that it doesn't work.

[2016-12-28 08:39] MariamP opened #173 "There is no watchos related directory under the build dir after pod package <name>.podspec command execution"
The watchos related dir is not present under the build directory after executing pod package command, but note that the watch related header files are present under the Headers folder.

cocoapods version - 1.1.1
cocoapods packager - 1.5.0

Am I missing something during the command run?

[2017-01-04 16:06] genkobar commented on #32
Sorry for kicking a two-year dead horse, but why does the [CocoaPods Guide](https://guides.cocoapods.org/syntax/podspec.html#source) state that ```:path``` is a valid key for ```source``` when the everyone in this discussion agrees that it isn't?

Pod spec lint currently fails with the error

so I guess the guide must be mistaken.

![podspec_source_path](https://cloud.githubusercontent.com/assets/

[2017-04-10 07:17] wcnjeusr opened #175 "Test case failed because the binary dependency does not exist"
can package a podspec with binary-only dependencies if --no-mangle is specified.
the link returns http status code 404:
http://parse-ios.s3.amazonaws.com/fe7d5b5421b322d1f8fb96ac8ae65b24/parse-library-1.3.0.zip

[2017-04-26 03:20] yzm347404 opened #176 "how can i set xcode configuration with pod package --configuration?"
because my code include category ,i have to set -Objc and -all_load for configuration argruments to  generate static framework, right? but,what a  problem is , i had search so many reference but how to use configuration but debug and  configuration arguments not mentioned.now,how can i do? i want some help,thanks!

[2017-04-28 03:40] wanyakun opened #177 "Undefined symbols for architecture armv7"
Hi

first, I clone UICKeyChainStore from Github and use cocoapods packager make a dynamic framework. Then push it to my private spec.

second, In another development pods, it dependency the  UICKeyChainStore framework which made in the first step. And in one class `PPDBLDevice` i use the `UICKeyChainStore` like follow:

[code]

When i use cocoapods packager to make dynamic framework for developmen

[2017-05-13 18:42] 3f-hawk opened #180 "podspec about package lose defines of dependency when using exclude-deps"
i package with exclude-deps, then there is no defines about dependecy in podspec. when other people use the pod, they have no idea about dependents of component.

[2017-05-13 18:45] 3f-hawk commented on #180
#179 i am not good at ruby, can u help me to fix the bug or ci question? @michaelmelanson

[2017-05-17 07:59] mrdaios opened #181 "support xib with customClass"
`pod package mangle` will modify class symbols(`xxClass->PodxxClass`) then xib not work well.
@michaelmelanson @alloy @floere @cvasilak @blakewatters
tks.

[2017-05-22 14:00] marlontojal opened #182 "Question - Generate frameworks based on Podfile"
As the title says, its possible to generate frameworks using Podfile? Instead of integrating the pods into our project, we need to include only the framework files. We could use multiple spec files, but it will be great if we can maintain cocoa pods features like pod outdated.

[2017-05-26 08:29] BeanDu opened #184 "Generate Framework failure for Xcode8.3"
Xcode8.3 default CLANG_WARN_DOCUMENTATION_COMMENTS=YES

- ERROR | [iOS] xcodebuild:  YapDatabase/YapDatabase/Extensions/SecondaryIndex/YapDatabaseSecondaryIndex.h:71:11: error: parameter 'version' not found in the function declaration [-Werror,-Wdocumentation]

[2017-05-26 12:54] BeanDu commented on #184
add"config.build_settings['CLANG_WARN_DOCUMENTATION_COMMENTS'] = 'NO'" to pod_utils.rb

[2017-05-31 06:02] mdsb100 commented on #115
any news?

[2017-06-17 07:22] yooomark commented on #177
+1
meet this problem too.
I have two development pods, APod & BPod. I use cocoapods packager make APod to a dynamic framework, then push it to my private spec success (same as @wanyakun ).
And BPod dependency APod framework. Then package failed, throw errors `Undefined symbols for architecture XXX ...`

[2017-07-05 00:20] kadapps commented on #115
Same Problem.

[2017-07-14 14:39] ronteq commented on #115
Any update on this? I have the same problem

[2017-07-14 16:25] segiddins commented on #115
As Boris previously posted:

[2017-07-21 10:32] yehot commented on #154
same issue +1

[2017-07-26 01:36] mizhdi commented on #53
mark

[2017-07-26 16:03] xwang-phunware commented on #154
Fixed by appending ` --no-mangle --exclude-deps`

[2017-07-27 02:07] yehot commented on #154
@xwang-phunware  awesome! thx a lot!

[2017-09-13 10:16] EricCheungSCUT commented on #154
@xwang-phunware It works! You save my day !

[2017-09-19 08:15] jakciehoo commented on #177
+1 i had the same problem

[2017-10-12 01:38] wangbingwf opened #185 "pod package failed because of HEADER_SEARCH_PATHS can not use Relative path"
I have some c files in project, need to set `pod_target_xcconfig = { "HEADER_SEARCH_PATHS" => "mygitpath/cfiles/inc/**"}`. after pod install commond, I found the setting directly set the string("mygitpath/cfiles/inc/**") to xcode, rather than using ${PODS_ROOT} as prefix path, such as source_files、public_header_files.
so when I use pod package, I don't know the source code path and don't know how

[2017-10-14 02:42] zhihuitang commented on #115
any volunteer?......no

[2017-10-16 08:32] zhihuitang commented on #115
since the packager doesn't support Swift framework, maybe you can try this solution:
https://dahuayuan.wordpress.com/2017/10/12/hide-implementation-of-swift-framework-when-distri/

[2017-10-23 08:33] #181 closed

[2017-11-30 03:17] ZuhanLin commented on #63
Any updates?

[2017-11-30 05:06] segiddins commented on #63
Nope, this is still waiting on someone to make a pull request.

[2017-12-01 07:03] ZuhanLin commented on #63
Oh?  I use path like this : s.source: path = >'~/Desktop/MyFramework.zip'  ,  then pod install , i found it  working.  So  maybe someone  fix it?

[2017-12-01 07:10] nealsun opened #186 "compile a dymamic framework with static vendors_libraries get link error"
I package my pod which have dependent two static libraries， it specificed with `vendored_libraries`,
it work fine when I package with `--library`, but failed with '--dynamic', I got this error:
[code]
and it successfully compiled in my pod example project.

[2017-12-07 07:55] nianran opened #187 "Can't copy resource with a single xxx.podspec"
The warning msg:
usage: cp [-R [-H | -L | -P]] [-fi | -n] [-apvXc] source_file target_file
       cp [-R [-H | -L | -P]] [-fi | -n] [-apvXc] source_file ... target_directory

cocoapods version: 1.3.1
cocoapods-packager version: 1.5.0
use `pod package xxx.podspec --force`,
it can't correct copy resources when the dir just have the xxx.podspec

[2017-12-13 14:01] manwithstories opened #189 "operation "--emeded" "--dynamic""
Can you tell me  the difference between  emeded framework  to  dynamic framework  ??

[2017-12-13 14:26] manwithstories commented on #189
Can you tell me the difference between emeded framework and  dynamic framework ??

[2017-12-13 16:12] segiddins commented on #189
Hey there, this looks like a great example of a question that you should ask on [StackOverflow](http://stackoverflow.com) - there is an active tag [CocoaPods](http://stackoverflow.com/tags/cocoapods) where people can help out with questions like this. We try to keep the CocoaPods issues focused only on bug reports for the tool, and for upcoming feature requests. Which this doesn't look like.

[2017-12-13 16:12] #189 closed

[2017-12-15 09:50] zzjiong opened #190 "podspec has binary-only depedencies, mangling not possible"
![Uploading 595C7621-621F-4F1D-8F48-701928A2D94A.png…]()

[2017-12-15 09:52] zzjiong commented on #190
![595c7621-621f-4f1d-8f48-701928a2d94a](https://user-images.githubusercontent.com/15756920/34036580-9ebff6a6-e1c0-11e7-85fb-fd58f6e2a94d.png)

[2018-01-03 04:39] nealsun opened #191 "package a framework withou symbol link"
how to package a framework without symbol links？

[2018-01-08 19:21] snehanshuashar commented on #111
@neonichu I am continuing @djMax 's work... it seems the current version takes the debug argument, but fails when I try to build and iOS-only podspec with configuration Debug. I hope you are active yet :) I would like to issue a PR to fix the error.

https://github.com/CocoaPods/cocoapods-packager/pull/192

[2018-01-26 12:31] silan-liu commented on #177
because it does't add -framework xx in LDFLAGS, and not set FRAMEWORK_SEARCH_PATHS. I just fix this problem. see it https://github.com/silan-liu/cocoapods-packager。

1.uninstall cocoapods-packager first,bacause here we want use our local cocoapods-packager gem.
2.check out the project.
3.cd project dir
4.gem build cocoapods-packager.gemspec
5.gem install cocoapods-packager-1.5.0.gem

[2018-02-02 08:23] crespoxiao commented on #170
I have the same problem. I think the lib "YSASIHTTPRequest" is private, not open source which put on GitHub .

[2018-02-02 08:26] crespoxiao commented on #140
@neonichu  thank you, that's help me.

[2018-02-02 08:31] crespoxiao commented on #170
@blackteachinese  find solution here
https://github.com/CocoaPods/cocoapods-packager/issues/140

[2018-02-07 06:03] panmingyang2009 commented on #53
Today I also come across this issue.
I use the --library, and It just leave me a *.a and a wrong *.podspec without header file. I think it should give me header file too.

[2018-02-08 10:22] leviyehonatan commented on #53
use the header from your project. its enough, just make a script to copy it
over

‫בתאריך יום ד׳, 7 בפבר׳ 2018 ב-8:04 מאת ‪punmy‬‏ <‪notifications@github.com
‬‏>:‬

[2018-02-21 23:12] bryanboyko commented on #115
I don't have the time or the Ruby skills to look into this right now, but I'd like to add that I just came across the same error

[2018-03-05 20:28] manuyavuz opened #196 "Adding `--xcargs` option to handle custom build needs?"
Ideas about having an option like `--xcargs` which would take a string value that will be passed to `xcodebuild` command so that framework can be built with any kind of custom build setting needs?

There might be needs for build settings related to symbol stripping or hiding such as the following:

- `GENERATE_MASTER_OBJECT_FILE`
- `STRIP_STYLE`
- `DEPLOYMENT_POSTPROCESSING`
- `SEPARATE_STRIP`
- `

[2018-03-06 00:09] segiddins commented on #196
Any reason those couldn't be included in the `pod_target_xcconfig` today?

[2018-03-06 04:29] manuyavuz commented on #196
I think defining those in `.podspec` via `pod_target_xcconfig` does not work well when spec is actually being used as a development pod (during development). That’s because we don’t want stripping while writing code to not lose stack trace information.

Adding those only to `Release` configuration might be an option, but still,  different needs might come out for packaging I guess.

[2018-03-07 09:58] manuyavuz commented on #110
Fixed by #107.

[2018-03-07 09:58] #110 closed

[2018-03-07 11:11] manuyavuz commented on #26
Solved by #194.

[2018-03-07 11:11] #26 closed

[2018-03-07 11:11] manuyavuz commented on #49
Solved by #194.

[2018-03-07 11:11] #49 closed

[2018-03-07 11:12] manuyavuz commented on #63
Solved by #194.

[2018-03-07 11:12] manuyavuz commented on #71
Solved by #194.

[2018-03-07 11:12] #71 closed

[2018-03-07 11:21] #63 closed

[2018-03-09 02:13] zcinclude opened #197 "[!] podspec has binary-only depedencies, mangling not possible."
[!] podspec has binary-only depedencies, mangling not possible.

[2018-03-09 06:54] zcinclude opened #198 "Lost localized files after 'pod package'."
resources:
en.lproj
zh-Hans.lproj
Base.lproj

after  'pod package'
lost these folders.

[2018-04-11 11:49] EuanChan commented on #186
I've got the same error when package a dynamic framework

[2018-04-12 01:47] tripleCC opened #200 "Is there any plan to publish a new version?"
@manuyavuz
@michaelmelanson
@segiddins

[2018-05-02 07:35] MMMille commented on #190
我也是这个问题， 要mangling的话， 就不能有vendored_framework，你处理掉了吗？

[2018-05-03 12:46] zcinclude commented on #190
pod package ***.podspec --no-mangle --force

[2018-05-04 05:16] summertian4 opened #202 "pod package cannot include .hpp files in "Headers" folder"

[2018-05-17 08:32] hulinhu521 opened #203 "Pods/build-sim/libTestWork.a(ReplaceMe.o) has no symbols?"
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: for architecture: i386 file: Pods/build-sim/libTestWork.a(ReplaceMe.o) has no symbols

Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: for architecture: x86_64 file: Pods/build-sim/libTestWork.a(ReplaceMe.o) has no symbols

that is why ?????

[2018-05-31 07:46] huangdaxiaEX opened #204 "Use --library create .a but has no public headers."
I use `pod package xxx spec --library` When I'm making a static library, but it's not generated public headers in here.  I just declared the `public_header_files` in the podspec file.

like this.
![image](https://user-images.githubusercontent.com/13418292/40769036-8aca21d8-64e9-11e8-90d7-a68be322e718.png)

[2018-06-04 12:29] karosLi commented on #32
why {:path=>"/abcd/efgh/ijk"}. is not supported?

[2018-06-04 12:37] karosLi commented on #63
it is not work for me, I am using cocoapods-packager 1.5.0 based on cocoapods 1.3.1

[2018-06-05 07:27] shawnXiao commented on #32
In the CocoaPods newest document, the Supported Keys have no ':path'

![image](https://user-images.githubusercontent.com/1880567/40961360-ed726766-68d4-11e8-9b61-b64ab1fa8271.png)

[2018-06-05 22:44] segiddins commented on #32
Because it is not a support key for the `source` attribute in a podspec

[2018-06-10 03:41] karosLi commented on #158
is there any update ?

[2018-06-10 04:38] karosLi opened #206 "subspec framework with same name will conflict"
I have a spec file named a, it contains subspec core, imageutil, qrutil, and make them to static framework individual, so I will get three framework with same name, if pod file like this:

pod a/core
pod a/imageutil
pod a/qrutil

pod will install three a framework with same name. it will make confict... so how could I resolve this issue ?

[2018-06-25 03:01] alexlee002 commented on #32
@segiddins  using local path as a private pod is a very useful feature,  which can help to separate modules in a lightweight mechanism。

[2018-07-04 13:45] SeongBrave opened #207 "Framework's header file is not update"
When I updated the header file of the Framework, the header file of the Framework generated by my pod package was not updated

[2018-07-10 06:46] lichanghong opened #208 "是不是有c++文件就会报错？ VZStandardGraphEdgeFilters.mm pod package FLEXInspector.podspec"
The following build commands failed:
    	CompileC /var/folders/7d/8c0x0y0n4q76mgkw_wqy6rp80000gp/T/cocoapods-jw5gz81d/build/Pods.build/Release-iphoneos/FLEXInspector.build/Objects-normal/arm64/VZStandardGraphEdgeFilters.o FLEXInspector/FLEXInspector/Classes/toolbox/mermoryProfile/vendor/Filtering/VZStandardGraphEdgeFilters.mm normal arm64 objective-c++ com.apple.compilers.llvm.clang.1_0.compiler

[2018-07-10 13:18] 0x5e opened #209 "Failed with `--configuration=Debug` param"
## Step to reproduce

1. Run `pod lib create TYTestLib`
2. Add some code
3. Push to repo and add a tag
4. Run `pod package *.podspec --configuration=Debug --verbose`
5. `--configuration=Release` configuration works fine

[code]

[2018-07-10 19:17] amorde commented on #208
Could you refile this issue with the template filled out? Without information such as what the Podfile or Podspec look like, this is impossible for us to troubleshoot. I also noticed `pod package` in the title, is this related to [cocoapods-packager](https://github.com/CocoaPods/cocoapods-packager)?

I'm going to preemptively close this, but feel free to open another issue with additional informat

[2018-07-10 19:18] amorde commented on #208
Woops, didn't even realize this was the packager repo. Re-openning

[2018-07-13 02:20] ZeroJian opened #210 "pod package failed: "Swift Language Version" build setting"
my project used swift language

I tried to add to podspec:
 s.swift_version = '4.0'
 s.pod_target_xcconfig = { 'SWIFT_VERSION' => '4.0' }

but nothing change

***********************************************************************
pod package BM_Loggg.podspec --force
Analyzing dependencies
Fetching podspec for `BM_Loggg` from `BM_Loggg.podspec`
Downloading dependencies
Installing BM_Loggg (0.1.9)

[2018-07-13 03:00] segiddins commented on #210
[code]

doesnt seem to contain a swift version

[2018-07-13 03:40] ZeroJian commented on #210
@segiddins  this is original spec.  my new spec contain  s.swift_version = '4.0'
s.pod_target_xcconfig = { 'SWIFT_VERSION' => '4.0' } , but nothing change

[2018-07-13 10:05] ZeroJian commented on #210
s.pod_target_xcconfig = { 'SWIFT_VERSION' => '4' }  no push to git

[2018-07-13 10:05] #210 closed

[2018-07-16 04:32] ZeroJian opened #211 "swift package failed: **/**.modulemap not found"
my project used swift language
xcode 9.4
pod 1.5.3

pod package failed:

[code]

podspec:
[code]

[code]

[2018-07-16 09:22] CoderJackie opened #212 "how to Specify the architecture to generate?"
I want to generate architecture armv7s arm64, without i386, x86_64, armv7，is there any argument can implement？

[2018-07-19 03:59] tonyzp commented on #200
+1

[2018-07-20 01:32] segiddins commented on #200
I don’t use packager, so I’d rather not take on full responsibility for it

[2018-07-24 08:38] marcferna commented on #211
Having the same issue here - have you found a solution @ZeroJian ?

[2018-07-24 12:18] AJXiao opened #213 "clang: error: -fobjc-weak is not supported on the current deployment target"
My project needs a third part named 'GVUserDefaults'
So my podspec is like this   "s.dependency 'GVUserDefaults', '~> 0.9.4'".
The GVUserDefaults's deployment target is '4.0',But my project is '8.0'
i don't know how to tell the cocoapods-package to change the deployment target when compiling the "GVUserDefault"

the message is like this
    "CompileC /var/folders/jc/r25pjv252bbc5gmvn3wymhmm0000gn/

[2018-07-30 06:52] gnithin opened #214 "exclude-deps for dynamic frameworks"
Trying to build a dynamic library with excluding dependencies, but get `--exclude-deps option can only be used for static libraries`.

Is there any technical reason why this would be so?

I can surely help add this feature if someone could let me know if excluding dependencies is possible in ios

[2018-07-31 07:17] yh980237697 opened #215 "fatal error: 'XCTest/XCTest.h' file not found"
The error is that 'XCTest/XCTest.h' file not found,  #import <XCTest/XCTest.h>.  But I have delete the target named 'xxxxTests' and 'xxxUITests'. I can not find any file about XCTest/XCTest.h.  In addation, I have try set framework search path, It does not work.  That's why?

[2018-08-07 08:32] rdd7 commented on #211
Same too

[2018-08-07 16:28] CiaoChiang commented on #211
Same problem

[2018-08-09 13:45] sunil-chayagol opened #216 "local path for s.source in podspec"
instead of giving git path i have given the below path for s.source in my podspec
{:path=>"~/Users/sunil/workspace/MyFramework"}
validation does not pass and gives message as unsupported download strategy. is there a way to give local path instead of git path.

[2018-08-09 14:15] imehulpatel opened #217 "Full Bitcode Enabled Framework not generated."
My requirement is to generate Bitcode Enabled static and dynamic framework from podspec file.

My understanding on how to check Valid Bitcode (Full Bitcode)

**Invalid Bitcode:**
otool -l -arch arm64 myframework | grep __bitcode -A 3
   segname __LLVM
      add 0x0000000000000670
      size 0x0000000000000001

**Valid Bitcode:**
$ otool -l -arch arm64 myframework | grep __bitcode -A 3
   segname _

[2018-08-10 06:19] sunil-chayagol opened #218 "podspec source and source_files is not taking the local path"
[!] Failed to load 'MyFramework' podspec:
[!] Invalid `MyFramework.podspec` file: undefined method `scource_files=' for #<Pod::Specification name="MyFramework">
Did you mean?  source_files=.

 #  from /Users/sunil/workspace/karTesting/MyFramework/MyFramework.podspec:12
 #  -------------------------------------------
 #  s.source = {:path  => "Users/sunil/workspace/karTesting/MyFramework"}

 #  end

[2018-08-10 06:35] dnkoutso commented on #218
you have a typo `scource_files` should be `source_files`

[2018-08-10 06:39] sunil-chayagol commented on #218
yes saw it after posting the issue. pod gets installed but the swift files are not copied.
pod 'MyFramework', :path => '/Users/sunil/workspace/karTesting/MyFramework'
this is the line i use in the podfile

[2018-08-20 09:40] 0x5e opened #219 "duplicate symbol"
Hi, I am using MQTTClient(0.14.0) as one of the dependency, pod package works fine except one variable:

[code]

`ddLogLevel` was declared in MQTTClient like this:
[code]

It seems that cocoapods-packager works fine with `extern const NSString xxx;`, not `extern NSString xxx;`;

[2018-08-27 10:12] pat750207 commented on #210
I have the same issue, how to fix?

[2018-08-28 08:58] pat750207 commented on #211
Same problem

[2018-08-29 12:50] plsdm opened #220 "I want to let libtool to add my static library"
My podspec file contains something like this:

  s.pod_target_xcconfig = {
      'OTHER_LIBTOOLFLAGS' => '-lSecGuard'
  }

I want my framework(static) contains code from my custom static library 'SecGuard'. And it works when build with Xcode. But with pod package, it doesn't work. I think the libtool command in pod package do not read options from OTHER_LIBTOOLFLAGS which is written in the podspec

[2018-09-05 09:01] guxs1129 opened #222 "ArgumentError - wrong number of arguments (given 3, expected 7..9)"
Have problem with packager 1.5.0 & cocoapods 1.6.0beta when package a framework.And use cocoapods 1.5.3,it works fine.
### Command

[code]

### Report

* What did you do?
* What did you expect to happen?
* What happened instead?

### Stack
[code]

### Plugins

[code]

### Error

[code]

[2018-09-13 12:59] DeveloperDongHao commented on #211
same too

[2018-09-14 07:45] ZeroJian commented on #211
Not yet @marcferna

[2018-09-28 04:41] SeongBrave opened #223 "能否选择性的打包第三方库的依赖实现文件呢"
🤝 我需要在执行pod package的时候，选择某一个第三方库只打包进入头文件，具体实现文件不用打包进入，主要为了防止一个项目中包含重复的第三方库，并且也能降低包增量的大小.能否加一个这种功能呢

[2018-09-30 21:03] DmitryPR commented on #210
As I understand if the podspec is relying on other dependencies, those should include s.swift_version.

s.pod_target_xcconfig = { 'SWIFT_VERSION' => '4.2' } is being ignored for 3rd party dependencies, is there any way to handle this?

[2018-10-05 14:03] sirghi commented on #211
Same problem here. Anyone managed to build a swift library at all? There are so many hurdles along the way.

[2018-10-11 08:34] sirghi commented on #115
I also lack the skill to implement something here, but while debugging, I noticed that the xcconfigs generated in the Pods project contained some bogus OTHER_CFLAGS and OTHER_SWIFT_FLAGS, namely around module map file locations that weren't correct:
[code]
Removing them made the packaging pass for a simple one-file swift framework.
However, after adding UIKit classes, they started not being recogn

[2018-10-15 08:30] binhan198 commented on #223
I've asked a same question.
[https://stackoverflow.com/questions/52753743/how-to-use-pod-package-to-package-a-framework-with-both-private-pod-library-and](url)

[2018-10-15 14:01] DmitryPR commented on #211
Any news on this, so it's not supporting Swift at the moment?

[2018-10-16 03:09] SeongBrave commented on #223
@binhan198  您好，你找到好的解决方案了吗？

[2018-10-16 03:29] gujianxing commented on #177
+1
I had the same problem.
I was resolved the issue by creat a Cocoa Touch Framework with a script.

[2018-10-17 07:55] gengcong1991 commented on #212
我也遇到这个问题了，请求高手解答，多谢了！

[2018-10-18 02:17] CoderJackie commented on #212
[code]

[code]

[2018-10-19 03:12] gengcong1991 commented on #212
你好，我的代码只能在设备中编译通过，不能在模拟器中使用；我的framework是通过pod命令pod package XXX.podspec --force --embedded --no-mangle --exclude-deps 去生成的，但是报错了normal i386 objective-c com.apple.compilers.llvm.clang.1_0.compiler，我猜测是因为编译了模拟器的framework导致的，所以想寻求一个可以在pod package命令中来控制生成的framework的类型的方法

[2018-11-08 08:33] linconz commented on #204
same issue, mark.

[2018-11-10 06:06] linconz commented on #204
@huangdaxiaEX
提交了一个pull request,支持了编译静态库自动复制公开头文件
https://github.com/CocoaPods/cocoapods-packager/pull/225

[2018-11-15 08:58] yishuiliunian commented on #211
any news about this question?

[2018-12-19 03:31] Shunzi007 commented on #211
The same problem. Xcode10.1 and cocoapods 1.5.3.
Try build Alamofire failed and build AFNetworking succeed

[2018-12-26 05:18] yishuiliunian commented on #211
i rewrite the package function base the cocoapods-pcakger, and copy module files manual

[2019-01-07 09:18] davidperrenoud commented on #212
With `pod package` I still get the error:
[code]

To fix this, I added the following in my .podspec:
[code]

This should not be needed. I think the following fix is related: https://github.com/CocoaPods/CocoaPods/pull/7932

[2019-01-07 10:06] davidperrenoud commented on #216
Apparently `:path` is not officially supported in CocoaPods 1.6.0:
https://guides.cocoapods.org/syntax/podspec.html#source

I am not sure why it was removed. 😕

[2019-01-18 12:42] mtruszko commented on #32
@alexlee002 You could use { :http => 'file://localhost/Users/[Home]/Path/To/Zip/Pod.zip' }

[2019-01-28 01:37] binhan198 commented on #223
找到了，cocoapods做不到，但是利用xcode直接打包可以做到 @SeongBrave

[2019-01-31 03:51] bart1989 opened #230 "xxxnib with mutable output but no other virtual output node"
I use xib to build interface in my project, then I want to make a framework.
this is the command:
pod package RankModule.podspec --force --dynamic --no-mangle --spec-sources=https://git.mygit.com/myproject/MySpecRepo.git,https://github.com/CocoaPods/Specs.git

the error:
 Build system information
    error: invalid task ('StripNIB /var/folders/v0/jkyt1dhn6ws8l57lnscjzlsm0000gp/T/cocoapods-bspd6xq8

[2019-02-11 01:30] bart1989 commented on #230
i config the xib file in podspec to reslove.

[2019-02-11 01:30] #230 closed

[2019-02-15 09:35] taozaizai commented on #177
Does not work!

[2019-02-25 08:09] hfqf commented on #211
+1

[2019-03-06 10:03] wuzhenli opened #231 "not found for architecture arm64"
I'm use  `pod package WZLBase.podspec --no-mangle` command create framework  in https://github.com/wuzhenli/WZLBase project. But when I use generated  framework in other project will show  error: ld: symbol(s) not found for architecture arm64 .

[2019-03-12 12:30] Katsz commented on #216
Can we get any response? This was __so__ convenient

[2019-03-12 12:55] Katsz commented on #216
I do, in fact, have a workaround. But it is questionable, I'd say.
### How
Assuming `Podfile`, local `.podspec` and `.zip` are placed in the same directory

In `Podfile` specify local `.podspec` like so:
[code]
Then, edit your `.podspec` as following
[code]
### Why
`__dir__` is a ruby analog for `pwd` in bash, so the full path will look lie `file:/Users/dev/projects/MyProject/MyFramework.zip`. Und

[2019-03-14 01:51] jiutianhuanpei commented on #203
I have the same problem，have you solved it ?

[2019-03-15 02:52] IamAlasca opened #232 "Creating dynamic framework failed."
Hi, I'm recently building a framework with a few dependencies in podspec file, one of them is like this "s.dependency 'Protobuf'". And i don't know why it keeps failing me with argument errors as below. I use the same script by changing the key words to create static library and it works totally fine. But adding "--dynamic" it's not working.  Any reasons why?  Many thanks.
### Report

* What did y

[2019-03-16 14:06] IljaDaderko commented on #216
Was really missing this feature today, workaround above works, but is so cumbersome to implement due to need of manually zipping a package. Will CocoaPods consider bringing back `:path` as a valid option for `source`. If I am correct it used to be a valid option at some point, what was the reason for removing it?

[2019-03-16 18:12] Katsz commented on #216
@IljaDaderko I was talking about binary `.framework`. If it's your case, you can add post-build step to your xcode project.

If you're developing an open source pod, you can use  `:git =>` on local git repo. According to [docs](https://mirrors.edge.kernel.org/pub/software/scm/git/docs/git-clone.html#URLS) git supports `file:/` URL format

[2019-03-21 02:51] radvansky-tomas commented on #63
How exactly it this solved ? What arguments We have to add for locally developed podspec?

[2019-03-21 03:33] radvansky-tomas commented on #211
Any update?

[2019-03-22 01:21] yishuiliunian commented on #211
at last i rewrite the builder by myself

[2019-03-23 17:46] manuyavuz commented on #63
`pod package --local /path/to/your/local/podspec/file.podspec`

[2019-03-23 19:20] sirghi commented on #211
Mind sharing it?

[2019-04-10 06:35] Changzw opened #233 "compile error: xxxxxxxx normal armv7s objective-c com.apple.compilers.llvm.clang.1_0.compiler"
packager 1.5
[code]
cause compile error.
---
    ** BUILD FAILED **

    The following build commands failed:
    	CompileC /var/folders/y8/x68lhbg916n1yzfylhk0rvkr0000gn/T/cocoapods-rhcyhxzi/build/Pods.build/Release-iphoneos/private.build/Objects-normal/armv7s/UIDevice+Extensions.o /var/folders/y8/x68lhbg916n1yzfylhk0rvkr0000gn/T/cocoapods-rhcyhxzi/Pods/private/private/Classes/Libraries/UIDevice+

[2019-04-10 08:18] Changzw commented on #233
fix it, it is xcodebuild compile error
I use @import xxx in UIDevice+Extensions.m, but I don't why?
fix it by changing @import to #import <xxxx.h>

[2019-04-10 08:20] #233 closed

[2019-04-24 08:18] rdd7 commented on #220
I face the same problem, is there any solution?

[2019-05-09 16:23] jasonhu-g opened #234 "The .framework packaged does not include a modulemap even though it's defined in the spec."
Podspecs allow you to define the modulemap:
https://guides.cocoapods.org/syntax/podspec.html#module_map
Ex: spec.module_map = 'source/module.modulemap'

When using the cocoapod packager, the outputted .framework does not include the module map.

[2019-05-15 20:13] benasher44 opened #235 "Support for specifying only one particular target"
I'd like to be able to run `pod package <pod> --target=ios` and skip building for all of the other supported targets in a pod. I don't think this is supported today

[2019-05-18 03:13] LoKiLyn commented on #211
Any update about this issue?

[2019-05-23 08:47] hello-david commented on #232
+1. it happend to me, try using `pod _1.5.3_ package xxxx` may work

[2019-05-23 08:57] hello-david opened #236 "Can’t Pod Package --dynamic After release 1.5.3?"
* [ * ] I've read and understood the [*CONTRIBUTING* guidelines and have done my best effort to follow](https://github.com/CocoaPods/CocoaPods/blob/master/CONTRIBUTING.md).

# Report

### Command

[code]

### Report

* What did you do?
use pod package to pack a dynamic framework.

* What did you expect to happen?
work fine.

* What happened instead?
after cocoapods 1.5.3 later can't work fine.

##

[2019-05-24 02:33] hello-david opened #237 "Dynamic framework pack issue"
## Command
pod `_1.5.3_` package ./Pack_MTGLDebug.podspec --dynamic --verbose

this is the project i am trying:
https://github.com/hello-david/Pack_MTGLDebug

## Report
### What did you do?
Really just run the above command on current supported dynamic packager.

### What did you expect to happen?
A dynamic framework should have been created

### What happened instead?

[code]

## Solution
For now

[2019-06-07 20:53] solaamy commented on #211
Same issue. Does anyone have any solution for this issue?

[2019-06-08 00:01] hfqf commented on #211
use oc

| |
hf
|
|
邮箱：hfqf123@126.com
|

Signature is customized by Netease Mail Master

On 06/08/2019 04:53, KexinZhai wrote:

Same issue. Does anyone have any solution for this issue?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-11 13:19] InfiniteReverse commented on #211
i found a way to solve it.
dependency:
`cocoapods-packager: 1.5.0`
`cocoapods:  ~>1.5.3 (will throw error if version is greater than  1.5, because some api has been changed)`

change code in file `lib/cocoapods-packager/builder.rb   line 137`:
[code]
to
[code]
or you can use the bash code output by `lib/cocoapods-packager/builder.rb   line   318`:
[code]
SwiftPod is a target name.
 you can solve t

[2019-06-25 11:51] SheronLv opened #238 "path"

[2019-06-25 11:51] #238 closed

[2019-06-27 18:08] vitor-gyant opened #239 "Packager no longer works"
Hi,

I'm trying to use Cocoapods-packager plugin as state here https://guides.cocoapods.org/plugins/using-pods-for-closed-source-libs.html but it seems that it no longer works.

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2019-06-27 18:12] vitor-gyant commented on #239
Also related to #236

[2019-06-27 21:20] vitor-gyant commented on #239
Found the issue.

`pod lib create` added my name to podspec which has special character in s.source

Solution is to simply fix it. Closing the issue.

[2019-06-27 21:20] #239 closed

[2019-06-28 00:15] mikegb commented on #216
These workarounds are pretty surprising. Is there no way to include a framework (podspec) that's in development locally to be used within another cocoapods project? It has to be uploaded somewhere?

[2019-06-28 07:53] Katsz commented on #216
@mikegb

As I've said, someone in cocoapods team decided to remove this feature a long time ago.
Yet there is not a single reason to do so.

[2019-07-04 12:33] clsource commented on #216
I solved this by executing the zip command with the @Katsz solution.

Example

[code]

Then just use `pod install` to fetch the zip and install it 👍

[2019-07-04 12:38] IljaDaderko commented on #216
It works for me with empty path `s.source = { :path => ""}`, in your projects Podfile you just point to your package and everything works out of the box.

[2019-07-05 15:50] Zss1990 commented on #222
me too

[2019-07-10 07:08] amorde commented on #236
Fixed in #240

[2019-07-10 07:08] #236 closed

[2019-07-10 07:09] amorde commented on #232
Fixed in #236

[2019-07-10 07:09] #232 closed

[2019-07-10 07:09] amorde commented on #222
Fixed in #240

[2019-07-10 07:09] #222 closed

[2019-07-10 10:48] jaysbytes commented on #216
I found another way using `git bundle`

First, create a bundle of the repo `git bundle create repo_name.bundle --all`
Then use `s.source = { :git => path_to_bundle_file }`

[2019-07-14 13:00] slootzky commented on #216
any news for this issue?
also asked in [SO](https://stackoverflow.com/questions/57025564/how-to-develop-with-local-podspec-project)

[2019-07-19 09:29] seuzxh commented on #212
any update about solving this case?

[2019-07-19 14:10] CarlSarkisS commented on #211
Hi,
Same problem on my side with iOS 9.0 as target: fatal error: module map file '/var/folders/kh/z39hb5jd6t11hw8bfgvg16xm0000gn/T/cocoapods-i8p2um4a/build/Release-iphonesimulator/***/***.modulemap' not found (I removed the name of my project).

With higher versions, I get <unknown>:0: error: iOS 12 does not support 32-bit programs

This issue is a year old now, could anyone provide a status on th

[2019-07-21 02:40] xT-Tx commented on #216
This works for me:
s.source = { :git => 'file:///Users/MyName/path' }  # be noted the triple-slash
My pod version is 1.7.4

[2019-07-21 11:53] slootzky commented on #216
doesn't work for me. I'm getting : `does not appear to be a git repository
fatal: Could not read from remote repository`

[2019-08-06 07:50] zoyag opened #242 "ArgumentError - wrong number of arguments (given 3, expected 7..9)"
### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?
The current version on gem is still failed?
As I see #236 #222 says it has solved.

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2019-08-06 07:52] zoyag commented on #242
need to update the version on gem?

[2019-08-15 07:15] zhouQ-job commented on #242
I have encountered such a problem, can you solve it?

[2019-08-16 03:43] eroscai commented on #211
Any update?

[2019-08-19 03:30] dabing1022 commented on #211
Still same here. Any update?

[2019-08-22 03:42] sunnymopada commented on #216
@slootzky @sunil-chayagol  @xT-Tx's answer working for me, Hope you are giving git repo folder path, Not the podfile folder path.

Ex:
Give file:///Users/guest/Desktop/iOS/sample-pod-example
Not file:///Users/guest/Desktop/iOS/sample-pod-example/SamplePod

Thanks @xT-Tx

[2019-08-22 03:50] amorde commented on #242
Yup this was fixed in https://github.com/CocoaPods/cocoapods-packager/pull/240, but it hasn't been released yet. You can use Bundler to pull from master until its released

[2019-08-22 03:50] #242 closed, assigned to nobody

[2019-08-25 10:59] slootzky commented on #216
Thanks, I'll give that a try

[2019-08-27 12:59] eddyfrank commented on #216
Any news on that?

Support for local `:path` sources would be very useful. Especially for React Native modules which are distributed as npm packages and already contain all sources as well as a .podspec file referencing to those.

PS: Since v0.60.0 react-native provides CocoaPods integration by default (https://github.com/facebook/react-native/releases/tag/v0.60.0).

[2019-08-27 13:16] xzilja commented on #216
@eddyfrank you can just use empty git path in react native i.e. following works for me

[code]

[2019-08-27 13:56] eddyfrank commented on #216
@IljaDaderko Thanks. Sounds like a workaround. However, it does not work here :(

Error on `pod install` or `pod update`:

[code]

[2019-09-03 08:06] madordie opened #243 "Building mangled framework Error.."
# when

[code]

# then

[code]

# but

[code]

<details>
  <summary>log</summary>
╰─>$ curl https://raw.githubusercontent.com/leancloud/objc-sdk/11.6.6/AVOSCloud.podspec > AVOSCloud.podspec && pod package AVOSCloud.podspec --verbose
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3157

[2019-09-04 09:35] killerdarkios commented on #211
Any update about this issue?

[2019-09-09 13:51] theMike opened #244 "Packaging fails with XCode11 beta 7"
Using the following command:

`pod package ../MyLib.podspec --force --no-mangle --exclude-deps --subspecs=Core --spec-sources='https://git.repo.com/local-cocoapods.git','https://github.com/CocoaPods/Specs.git' --verbose
`

On Mojave (10.14.6) with :
  XCode11 beta7 (Build 11M392r)
  Attempted with both CocoaPods 1.7.5 and 1.8.0 beta.2
I get the following error:

[code]

Packaging works fine when u

[2019-09-19 06:02] yisimeng commented on #211
Any update?

[2019-09-24 11:33] JDongKhan commented on #234
any update?

[2019-10-14 13:57] faresbh commented on #211
Waiting for an update.
Original issue: Cocoapods packager build fail caused by .modulemap not found.

[2019-10-25 04:50] WeMadeCode commented on #211
Still same here. Any update?

[2019-10-25 05:07] WeMadeCode commented on #211
Same problem.Is this tool still maintained? @amorde

[2019-11-02 05:45] IDEAL-YANG commented on #211
Any update about this issue?

[2019-11-09 06:37] 0x5e commented on #244
Same issue using Xcode 11.0, cocoapods 1.8.4, macOS 10.15.
the Xcode 11.0 just crashed, Xcode 10 works fine.😰

[2019-11-09 06:45] isfang commented on #244
I have same issue using Xcode 11.0.

[2019-11-15 11:43] Humein commented on #211
+ 1

[2019-11-20 02:27] lichanghong commented on #208
can you resolve this problem?

[2019-11-26 06:26] zyfrog opened #245 "动态库打包报错：参数数量错误"
***ArgumentError - wrong number of arguments (given 3, expected 7..9)***

### Command
[code]

### Plugins

[code]

### Error

[code]

[2019-12-04 03:18] shshjing commented on #245
本地更新一下cocoapods-packager
https://www.jianshu.com/p/cee6c71b43a3

[2019-12-04 17:58] iAgentur commented on #243
you should use `&&` instead of `|` I think (execute commands in a row instead of piping output)

[2019-12-05 03:29] lllhf opened #246 "使用 pod package 生成静态 framework，没找到 dsym 文件（BCSymbolMap）"
我的命令为：pod package xxx.podspec --force --embedded --no-mangle --exclude-deps --configuration=Release --spec-sources=xxx

生成的目录中没有找到 dsym 文件，请问有选项可以设置输出嘛？

另外，如何设置编译的架构，默认打出来的包含 armv7 armv7s i386 x86_64 arm64，想要增减架构如何配置？

麻烦解答下，十分感激！

[2019-12-05 03:37] lllhf opened #247 "NOT FOUND dsym file(BCSymbolMap) after using pod package"
when using `pod package xxx.podspec --force --embedded --no-mangle --exclude-deps --configuration=Release --spec-sources=xxx`

checking the package files, can NOT FOUND dsym file or BCSymbolMap.

Is there any settings to output the dsym file or BCSymbolMap?

Another question is :
how to select the output archs for the framework?
 what i see now the framework info msg is : armv7 armv7s i386 x86_64

[2019-12-05 03:39] lllhf commented on #247
My pod and package version is：

`cocoapods (1.4.0)
cocoapods-core (1.4.0)
cocoapods-deintegrate (1.0.4)
cocoapods-downloader (1.3.0)
cocoapods-packager (1.5.0)
cocoapods-plugins (1.0.0)
cocoapods-search (1.0.0)
cocoapods-stats (1.1.0)
cocoapods-trunk (1.4.1)
cocoapods-try (1.1.0)`

[2019-12-05 03:39] lllhf commented on #246
pod 相关信息：

`cocoapods (1.4.0)
cocoapods-core (1.4.0)
cocoapods-deintegrate (1.0.4)
cocoapods-downloader (1.3.0)
cocoapods-packager (1.5.0)
cocoapods-plugins (1.0.0)
cocoapods-search (1.0.0)
cocoapods-stats (1.1.0)
cocoapods-trunk (1.4.1)
cocoapods-try (1.1.0)`

[2019-12-09 02:32] 0x5e commented on #245
#240

[2019-12-12 02:33] NicolasKim commented on #234
Same problem happens to me

[code]

[2019-12-13 09:13] madordie commented on #243
Thank you for your reminder, I have updated

[2019-12-16 06:04] 7280423 opened #248 "for architecture: i386 file: Pods/build-sim/libSDK_Temp_oc.a(ReplaceMe.o) has no symbols"
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: for architecture: i386 file: Pods/build-sim/libSDK_Temp_oc.a(ReplaceMe.o) has no symbols
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: for architecture: x86_64 file: Pods/build-sim/libSDK_Temp_oc.a(ReplaceMe.o) has no symbols

[2020-01-15 11:47] tanpengsccd opened #249 "Is there a debug mode or verbose mode?"
I want check the detail of error.

[2020-01-18 19:09] benasher44 opened #250 "cocoapods-packager doesn't default to new CDN"
I ran `bundle exec pod package <local_spec>`, and it started cloning the specs repo. I'm using cocoapods-packager 1.5.0 and cocoapods 1.8.4.

[2020-01-18 19:15] benasher44 commented on #250
You can workaround it by explicitly specifying the CDN: `bundle exec pod package <local_spec> --spec-sources='https://cdn.cocoapods.org/'`

[2020-01-30 12:17] rahib110 commented on #230
Hi, could you please let me know how you fixed this..I am facing the same issue.
I have created a pod that is working in it's example project. but when I'm trying to configure this with some other external project it throws errors.

error:
1: invalid task ('StripNIB /Users/mrhb/Library/Developer/Xcode/DerivedData/EyesWideProject-dzvkzhxcjfeyssbvaecqlzazejyw/Build/Products/Debug\ with\ real\ server

[2020-02-13 13:03] mioumar commented on #211
Open <project>.workspace instead of <project>.xcodeproj. This worked for me.

[2020-02-14 03:34] IDEAL-YANG commented on #211
What?

[2020-02-20 09:57] acruis commented on #200
+1. Would like to make use of `--local`

@amorde
@dnkoutso

[2020-02-20 10:01] acruis commented on #63
For those whom `pod package --local` produces ``[!] Unknown option: `--local` `` and found  this issue:
The latest version (1.5.0) was published in 2016, while #194 was in 2018.

Add your +1s to request new version release here: https://github.com/CocoaPods/cocoapods-packager/issues/200

[2020-02-22 04:36] eggswift opened #251 "How to install and use `nm` command on Mac"
I want to use `nm` command to check my output framework on macOS Catalina 10.15.1

Tanks

[2020-03-25 18:43] artud2000 commented on #244
Same issue with Xcode 11.4

[2020-04-01 15:49] che1404 opened #252 "<unknown>:0: error: module map file ReactiveSwift.modulemap not found"
Hello,
I'm trying to package a library created with `pod lib create` so I can create a separate pod spec for binary distribution, and I understand cocoapods-packager is the appropriate tool.

When I launch `pod package iOS-ngmatt-library.podspec`, it starts running:

But then if fails with a compilation error like this:

It seems that, for some reason, when trying to compile ReactiveCocoa, it does

[2020-04-03 12:50] hmertkahraman commented on #63
+1

[2020-04-08 15:34] CNKCQ commented on #53
that confuse me too!

[2020-05-06 09:56] yangchenlarkin opened #254 "NoMethodError - undefined method `framework?' for true:TrueClass"
### Command

[code]

### Report

* What did you do?

pod package HMIBaseline.spec.

* What did you expect to happen?

success

* What happened instead?

i meet an error

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2020-05-06 16:22] dnkoutso commented on #254
Need a sample app.

[2020-05-07 06:04] yangchenlarkin commented on #254
I just create a new project using:
[code]

then I change the .podspec file to :
[code]

then I commit then tag then push to remote

when I tried to package the pod, I got the error:
### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2020-05-07 06:31] yangchenlarkin commented on #254
I check the source code and I found these:

- this is where the error happened

https://github.com/CocoaPods/CocoaPods/blob/b812daedb782a5d808807db327aa1d8c01852e09/lib/cocoapods/target.rb#L118

- this is where the "true" value comes from:

https://github.com/CocoaPods/cocoapods-packager/blob/f95c6c2322614abb8e3085d7dfa01d4695db3178/lib/cocoapods-packager/pod_utils.rb#L161

- but the definition of

[2020-05-09 23:17] dnkoutso commented on #254
Oh this bug is under cocoapods-packager plug in probably not working with the latest version. Transferring to that repo.

[2020-05-13 00:00] isaacmaxparker commented on #249
run the command with --verbose at the end.

pod package Name.podspec --verbose

[2020-05-29 04:26] Cyandnow commented on #250
I am also using cocoapods-packager, but there will be an error. Do you have this problem?
`Undefined symbols for architecture armv7:
  "_dlaLoadModels", referenced from:
      -[DoraemonMethodUseTimeManager fixLoadModelArray] in DoraemonKit(DoraemonMethodUseTimeManager.o)
      -[DoraemonMethodUseTimeManager fixLoadModelArrayForHealth] in DoraemonKit(DoraemonMethodUseTimeManager.o)
ld: symbol(s) n

[2020-06-04 08:13] PatShen commented on #211
Any update about this issue?

[2020-06-04 09:42] huFly opened #255 "package swift static library"
Scenes：my project complete with swift an objective-c，and also have other  Third-party dependency，like `AFNetworking` write in objective-c

it is worked well when push remote pod repo by source code.  In the other hand，I want to package a static library，but always fails...

when I exec
` pod package MyProject.podspec  --force --no-mangle --spec-sources=https://cdn.cocoapods.org/` , I got an error:

[2020-07-08 09:44] HamGuy commented on #211
LT;DR; [Here is my solution](https://github.com/HamGuy/cocoapods-packager/commit/c22fc93ea508623d265cd66635f1b995b48f6cee)
-----

I found the error comes when execute the command `xcodebuild GCC_PREPROCESSOR_DEFINITIONS='$(inherited) *** 2>&1` in `xcodebuild` method.  And The call hierarchy is:

[code]
the error said can not find the modulemap file, yes , it is.  There was no any copy modulemap fi

[2020-07-17 01:01] dabing1022 commented on #255
You could try `--exclude-deps` option

[2020-07-21 16:31] teodorciuraru commented on #216
What .zip file are you referring to?

[2020-07-24 18:13] #249 closed, assigned to nobody

[2020-07-28 10:05] samisharafeddine commented on #200
+1, `--local` seems to be an important use case

[2020-08-16 19:31] manuyavuz commented on #200
I have personally switched to`CocoaPods/Rome` for our needs of generating pre-built binary frameworks from our pods.

It works using local state by default and has a much lower discrepancy with CocoaPods codebase compared to `cocoapods-packager`.

[2020-08-24 19:13] wilau2 commented on #216
This will cause the podfile.lock file to update on every developer local environment 😢

[2020-08-28 22:05] ryango commented on #63
can install from master by doing
gem install specific_install
gem specific_install https://github.com/CocoaPods/cocoapods-packager
to pick up the --local option in the meantime

[2020-09-08 07:19] cheng-ren commented on #255
the same problem！

[2020-09-10 04:13] vitonzhangtt opened #256 "WIP [Draft] How to debug this plugin?"
After a long try
When try to debug this plugin, there are some questions.

## Question-A

### 1. What components have been installed?
In my environment, the following gems have been installed:

#### 1.1 Cocoapods (1.9.3)
[code]
output:
[code]
#### 1.2 cocoapods-packager (1.5.0)
[code]
output:
[code]

#### 1.3 bundler (2.1.2)
[code]
output:
[code]

### 2. Which IDE is used in my development?
After

[2020-09-14 02:49] vitonzhangtt commented on #256
This issue is not definite.

[2020-09-14 02:49] #256 closed, assigned to nobody

[2020-09-14 04:32] fahmisdk6 commented on #216
Hi, do you have any workarround on this problem?

[2020-09-14 10:01] vitonzhangtt opened #257 "Fail to build a pod into dynamic framework"
### Command

[code]

### Report

* What did you do?

Run the following commands:
[code]

* What did you expect to happen?
After `$ pod package AFNetworking.podspec --dynamic --no-mangle`, a framework will be built.

* What happened instead?
An error occurred.

### Stack

[code]

### Plugins

[code]

### Error

[code]

[2020-09-14 10:13] vitonzhangtt commented on #257
@segiddins

If i am @ the wrong person, I'm sorry about that.

Look at the master branch, the calling to `Pod::PodTarget.new` has changed.
When we will get a version, maybe 1.6.0?

https://github.com/CocoaPods/cocoapods-packager/blob/f95c6c2322614abb8e3085d7dfa01d4695db3178/lib/cocoapods-packager/pod_utils.rb#L161

[2020-09-14 17:32] segiddins commented on #257
@vitonzhangtt we'd be happy to review a PR updating to the latest version of CocoaPods!

[2020-09-15 07:42] WangPerryWPY commented on #246
请问上述问题有结论了吗，我也遇到了

[2020-09-16 07:27] vitonzhangtt commented on #257
@segiddins

As a newbie in Ruby, I would like to know that whether a template for PR in this repo. For example, description for PR, test case for PR and any others.

Cocoapods is a cool tools for iOS daily development. As a iOS developer I would like to contribute my time to these projects.

To be honest, if there are more wiki about `how to debug this gem`, and `how to contribute to this project`

[2020-09-16 18:36] wilau2 commented on #216
@fahmisdk6 not yet.. Our problematic dependency is RNQualtricsDigital from `react-native-qualtrics`

Every time a developer installs dependencies the  podfile.lock changes.

Here is their podspec:
[code]

This is the node_module:

![image](https://user-images.githubusercontent.com/5473183/93378060-e5bdf300-f829-11ea-91de-fe883fa091d2.png)

[2020-09-23 07:59] onegaop opened #258 "vendors frameworks can not found headers , how can i fix it ?"
[code]

[2020-09-23 08:01] onegaop commented on #258
`  s.vendored_frameworks = "AggregatePay/Classes/SourcesFile/AlipaySDK.framework"` , no error is reported, just that the packaged framwork does not have AlipaySDK header files

[2020-09-30 08:42] cjlcooper opened #259 "have the same architectures (arm64) and can't be in the same fat output file（Xcode12下编译静态库，包无法合并fat output file）"
Error Info：have the same architectures (arm64) and can't be in the same fat output file

Xcode Version:12.0.1
cocoapods version: 1.9.3
cocoapods-packager version: 1.5.0

通过pod packager打包静态库，出现模拟器和真机同时包含arm64架构，无法合并为fat file

[2020-09-30 09:46] brave723 commented on #259
Add line "arm64" (without quotes) to path: Xcode -> Project -> Build settings -> Architectures -> Excluded architectures
Also do the same for Pods. In both cases for both debug and release fields.
I hope this will help.
Best regards.

[2020-10-03 13:41] tangguoan commented on #259
I tried, but I couldn't solve the problem

[2020-10-13 10:24] Feng999 commented on #259
The problem is still there. Can anyone help？

[2020-10-13 13:33] Feng999 commented on #143
No updates?

[2020-10-14 06:44] cjlcooper commented on #259
I found the following solutions，write content in podsepc file：
    s.pod_target_xcconfig = { 'EXCLUDED_ARCHS[sdk=iphonesimulator*]' => 'arm64' }
    s.user_target_xcconfig = { 'EXCLUDED_ARCHS[sdk=iphonesimulator*]' => 'arm64' }

[2020-10-15 08:00] gaojinhsu commented on #259
It works, but it's just weird.Also, user_target_xcconfig is not recommended by the official.

[2020-10-22 02:48] shmueldw commented on #259
My error:

This solution doesn't work for me:

My podspec:

[code]

 Anyone have an idea how to fix this issue?

update: if I add --exclude-deps flag, it works, but my framework doesn't include dependencies.

[2020-10-24 12:34] JumChou commented on #259
I solved this problem by modifying the local cocoapods-packager source ruby code.
Modified .rb file's path:

I had inserted the build setting after line32:
[code]

I hope that will help you guys.

[2020-10-25 07:15] shmueldw commented on #259
Thanks a lot, It works for me.

[2020-10-27 06:15] XmYhkj commented on #248
Me too

[2020-11-02 09:52] TyrantDante commented on #246
架构可以hook获取架构的方法

[2020-11-05 12:51] liuchen195 commented on #248
Me too

[2020-11-06 06:25] zhoulijun12315 opened #260 "Xcode12.0.1 build failed, can't generate framework"
step1: /Library/Ruby/Gems/2.6.0/gems/cocoapods-packager-1.5.0/lib/cocoapods-packager/pod_utils.rb
add 「config.build_settings['EXCLUDED_ARCHS[sdk=iphonesimulator*]'] = 'arm64'」

step2: pod package myLab.podspec --force

then failed

[code]

podspec
[code]

[2020-11-06 08:25] liuchen195 commented on #259
I have add this, but it still cannot run.

[2020-11-17 09:29] henninghall commented on #216
@wilau2 We're also having this issue with Qualtrics, found any workaround yet?

[2020-11-20 07:11] lujingyu commented on #260
the same problem, any idea?

[2020-11-27 01:39] JohnEstropia opened #262 "Is there a way to query statistics of a particular pod's usage?"
What I mean is, for example I am a library publisher and I'd like to know how many of my library's users are using specific versions of iOS so I can decide if/when to raise my library's `IPHONEOS_DEPLOYMENT_TARGET`

[2020-12-03 07:44] lizuba commented on #254
Specify what you want like: `Pod::BuildType.static_framework()` or `Pod::BuildType.static_library()` and it can run continue
[code]

[2020-12-03 10:30] alloy commented on #216
I’m unsure what people refer to when they say that this used to work, perhaps it did but was a fluke as the `:path` option is _solely_ meant to be used by a user in their Podfile, not in a podspec.

In the case of React Native and pods being shipped inside npm packages, “auto-linking” uses the Podfile `:path` option under the hood. If you are not using “auto-linking”, then you can specify the `:pa

[2020-12-03 10:30] #216 closed

[2020-12-03 10:33] alloy commented on #216
I missed context about what repo this was on, I incorrectly assumed it was the main repo, so I better understand your point now. I can’t speak for the current maintainers, only why historically this has been as it was. I would suggest you open a issue on the main repo to clearly discuss your needs and how they deviate from normal CP users.

[2020-12-03 10:48] bigdogs opened #264 "Is this project still alive?"
Seems this project haven't been updating since 2016??  Is this project still alive?

[2020-12-07 13:15] wilau2 commented on #216
@henninghall, no.. we have some discussions with Qualtrics support and it's not the best experience.
The SDK is not open source... so we can't really fix it ourselves, I suggest you write to them as well so that they feel more pressure coming from a wider group.

[2020-12-23 01:42] XuweiQT commented on #259
_sudo vim /Library/Ruby/Gems/2.6.0/gems/cocoapods-packager-1.5.0/lib/cocoapods-packager/pod_utils.rb_

config.build_settings['CLANG_MODULES_AUTOLINK'] = 'NO'
config.build_settings['GCC_GENERATE_DEBUGGING_SYMBOLS'] = 'NO'
config.build_settings['EXCLUDED_ARCHS[sdk=iphonesimulator*'] = 'arm64'  // add this row

[2020-12-24 07:07] ShenYj commented on #264
看起来已经停止维护了

[2020-12-24 07:09] ShenYj commented on #255
我是纯swift的sdk项目, 似乎并不支持

[2021-01-20 09:34] slemon commented on #258
maybe cache cause this problem，try remove cache.

[2021-01-22 04:14] zhangyinglong commented on #259
sudo vi /Library/Ruby/Gems/2.6.0/gems/cocoapods-packager-1.5.0/lib/cocoapods-packager/builder.rb

[code]
Best regards.

[2021-01-28 08:44] MrBoog commented on #264
+1

[2021-01-28 08:53] yushuyi opened #265 "pod package Generating dynamic framework fail"
Xcode 12.3
Mac OS 11.0.1
Pod package master branch

pod package --local  /Users/xxxx/UICKeyChainStore.podspec --dynamic  --force --spec-sources='git@xxxx/iOS_Pods/iOS_Specs.git'

Analyzing dependencies
Downloading dependencies
Installing UICKeyChainStore (1.0)
Generating Pods project
Skipping User Project Integration
Pod installation complete! There is 1 dependency from the Podfile and 1 total pod

[2021-01-29 09:08] BlueAirRL commented on #254
same question! resolved?

[2021-02-05 05:30] jiabibi888 opened #266 "About the configuration of public Header file"
How Can I configure public and private Header files of my frameWork?
Now, All the header files are public.
How Can I solve this problem？

[2021-02-05 05:31] jiabibi888 commented on #266
cocoapods packager 1.5.0

[2021-02-13 18:54] mariusjcb opened #267 "Dependency ModuleMap generation error (.modulemap' not found / underlying Objective-C module not found)"
### **Context:**
I need to import multiple versions of a specific framework (Lottie; lottie-ios) in my iOS app. For instance I'm trying to do a workaround by creating a cocoapod library for each version just to expose some wrappers over the dependency framework (Lottie). I tested it in a Example project and it works fine. I am able to run the project and it imports dependency framework (lottie-ios

[2021-02-18 14:19] #219 closed

[2021-02-18 14:19] #209 closed

[2021-02-26 06:40] initGalen commented on #259
Hello,Xcode 12.4 pod package 出现底层SDK找不到问题
![image](https://user-images.githubusercontent.com/11409951/109264851-90f2bf80-7840-11eb-8f9d-65cc70cf2ec8.png)

[2021-02-28 13:10] changwuguo commented on #254
how to solve this problem?

[2021-02-28 13:31] changwuguo commented on #248
Me too

[2021-02-28 13:32] changwuguo commented on #265
Me too

[2021-02-28 13:36] changwuguo commented on #245
Me too

[2021-03-04 02:44] changwuguo commented on #248
Me too

[2021-03-23 08:42] nicolas-miari commented on #154
@peterwangxw

Sorry for the noob question, but... appending _where_?

[2021-03-25 13:23] TyrantDante opened #268 "A new plugin support package sdk to a framework"
https://github.com/TyrantDante/cocoapods-framework.git

[2021-03-25 13:23] TyrantDante commented on #267
try   https://github.com/TyrantDante/cocoapods-framework.git

[2021-03-25 13:24] TyrantDante commented on #266
try https://github.com/TyrantDante/cocoapods-framework.git

[2021-03-25 13:24] TyrantDante commented on #265
try https://github.com/TyrantDante/cocoapods-framework.git

[2021-03-25 13:24] TyrantDante commented on #259
try https://github.com/TyrantDante/cocoapods-framework.git

[2021-03-30 07:12] DukeHuang opened #269 "how only support arm64"
Hi,
  I want to only support library arm64, how can i set in podspec.

[2021-03-30 07:16] DukeHuang commented on #231
hey, how did you solved this problem

[2021-04-21 08:20] lllhf commented on #244
Same issue with Xcode11 and Xcode12，any idea to deal with this problem?

[2021-04-21 08:22] lllhf commented on #244
@theMike @0x5e @artud2000 @isfang have u all solve it?
thx for your quick reply :)

[2021-04-21 09:09] lllhf commented on #105
@ajitam same error occur to me. Could u please provide the solution for me? thx a lot :)

[2021-04-21 09:36] ajitam commented on #105
Well error is 6 years old :) sooooo you guess is as good as mine :)
But from my last post you can see that the problem was in mangling of the code - that is a fact which cannot be changed.

[2021-04-22 01:06] lllhf commented on #105
sooooo sad :(
thx for ur quick reply!

[2021-06-02 06:47] zhonglaoban commented on #245
same problem

[2021-06-02 07:01] zhonglaoban commented on #254
same issue

[2021-06-10 02:26] lichanghong commented on #248
how to resolve this problem

[2021-06-10 02:42] lichanghong opened #270 "can't open input file: Pods/build-sim/package.a (No such file or directory)"
help

pod package ZRImageManager.podspec.json  --spec-sources=https://gitlab.ziroom.com/wireless-architect/architect-ios/ZRModuleSpec.git --library --no-mangle --force --exclude-deps

error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: no files specified
Usage: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/

[2021-06-11 03:08] changwuguo commented on #248
Me too

[2021-06-24 09:39] AjSuperRay opened #271 "Optimization of copy resource"
In a recent project, I found that your "copy resources" step is to match the resource files under the (PWD) path, but you will create temporary projects in the construction process, pull the source code and resource files from git, so why can't you copy the resource files from the temporary projects to the framework? If you can do this, you only need a podspec file to complete the construction of

[2021-08-13 03:48] RMKitty commented on #267
I have the same error . Have you solution to the problem ?

[2021-09-07 12:09] mrqigit commented on #234
I have also encountered this problem, which makes me very confused. No matter how you set it, it will report an error

[2021-09-13 07:48] rockwotj commented on #143
@neonichu I hit this error when trying to do this with `React-Core` from https://github.com/facebook/react-native/blob/main/React-Core.podspec

[2021-09-14 10:26] yangshebing commented on #255
I modified the source code and set use_modular_headers! directly in the place where podflie is generated.

[2021-09-19 09:56] guzuqing commented on #254
@lizuba   yes,   The new version of cocoapods uses Pod::BuildType to represent the build type.

    def self.dynamic_library
      new(:linkage => :dynamic, :packaging => :library)
    end

    # @return [BuildType] the build type for a static library
    #
    def self.static_library
      new(:linkage => :static, :packaging => :library)
    end

    # @return [BuildType] the build type for a dyn

[2021-09-23 07:24] changwuguo commented on #269
1、lipo -info FrameworkName
2、lipo -remove i386 FrameworkName -o FrameworkName
3、lipo -remove x86_64 FrameworkName -o FrameworkName
4、lipo -remove armv7s FrameworkName -o FrameworkName
5、lipo -remove armv7 FrameworkName -o FrameworkName

[2021-09-26 10:06] changwuguo commented on #254
@guzuqing
Is it adjusted like this?？
![image](https://user-images.githubusercontent.com/17453419/134803346-e9f03146-f15f-4f9f-9cab-59d9a52ff4c0.png)

[2021-09-27 12:48] guzuqing commented on #254
@changwuguo 对的

[2021-12-01 06:07] maghzchenyu opened #273 "ArgumentError - wrong number of arguments (given 3, expected 7..10)"
### Plugins

[code]
ArgumentError - wrong number of arguments (given 3, expected 7..10)
/usr/local/lib/ruby/gems/3.0.0/gems/cocoapods-1.11.2/lib/cocoapods/target/pod_target.rb:137:in `initialize'
/usr/local/lib/ruby/gems/3.0.0/gems/cocoapods-packager-1.5.0/lib/cocoapods-packager/pod_utils.rb:161:in `new'
/usr/local/lib/ruby/gems/3.0.0/gems/cocoapods-packager-1.5.0/lib/cocoapods-packager/pod_utils.

[2021-12-08 05:58] wangwenzhen commented on #248
Is there a solution ?

[2021-12-20 13:46] iHTCboy opened #274 "ERROR： gem install cocoapods-packager"
[code]

The environment：
* macOS 12.1
* MBP Apple M1 Pro

[2022-01-26 02:59] liushengxu commented on #255
请问解决了吗

[2022-02-01 17:50] soumyamahunt opened #276 "How to resolve `Unable to determine swift version`"
When trying to package pod I am getting this following error:
[code]

is there any way I can provide fall back swift version when determining fails?

[2022-02-05 04:15] SyedIsmailAhamed opened #277 "Module Map File not found"
`  fatal error: module map file '/var/folders/8z/mqwnzgv578z1_f6vkkykzv_w0000gn/T/cocoapods-zidxk7o5/build/Release-iphonesimulator/TestMapKit/TestMapKit.modulemap' not found`

podspec is

[code]

[2022-02-05 09:22] adilJamshad commented on #22
Hi,

I am facing this error in a react native project that I cloned from github.

Will you share any work around it?

[2022-03-15 15:57] SurpriseMF3000 commented on #259
Having the same issue but i386 :(

Error: `have the same architectures (i386) and can't be in the same fat output file`

The modified BitcoinKit.podspec File:

Changed:

[code]

[code]
                    DESC
  spec.homepage = 'https://github.com/yenom/BitcoinKit'
  spec.license = { :type => 'MIT', :file => 'LICENSE' }
  spec.author = { 'BitcoinKit developers' => 'usatie@yenom.tech' }

  spec.req

[2022-03-15 16:27] SurpriseMF3000 opened #278 "Error: have the same architectures (i386) and can't be in the same fat output file"
Im trying to install a BitcoinKit with `pod install` but get the error:

Error: `have the same architectures (i386) and can't be in the same fat output file`

Podfile:

[code]

BitcoinKit.podspec File:

[code]
                    DESC
  spec.homepage = 'https://github.com/yenom/BitcoinKit'
  spec.license = { :type => 'MIT', :file => 'LICENSE' }
  spec.author = { 'BitcoinKit developers' => 'usatie@

[2022-03-22 08:34] SurpriseMF3000 commented on #278
I solved it with excluding arch's in the Build settings.

[2022-03-24 10:10] lcghh commented on #277
same problem

[2022-03-29 03:53] lcghh commented on #278
can you show the code？please

[2022-04-07 06:13] jaykon commented on #269
the same question

can use:
lipo xxxSDK -thin arm64 -output xxxSDK_arm64

but it is easier if it can set in podspec.

[2022-04-20 22:58] Pr0gmaT1k commented on #277
did you resolved it ?

[2022-05-20 18:35] victorrabelozup commented on #143
No news?

[2022-05-25 14:06] physxP commented on #276
Did you find any solution for this? Facing similar problem

[2022-06-29 16:46] ilongge commented on #258
me too, how to fix it?

[2022-07-06 08:22] xiaoxu-rc commented on #273
I have the same problem。

[2022-07-06 08:23] xiaoxu-rc commented on #273
### Stack

[code]

### Plugins

[code]

### Error

[code]

――― TEMPLATE END ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

[!] Oh no, an error occurred.

Search for existing GitHub issues similar to yours:
https://github.com/CocoaPods/CocoaPods/search?q=wrong+number+of+arguments+%28given+3%2C+expected+7..10%29&type=Issues

If none exists, create a ticket, with the template displ

[2022-07-08 06:43] AshTerry opened #279 "not support m1 on mac"

[2022-07-13 02:02] jaykon commented on #154
how to fixed it?

[2022-07-13 06:21] jaykon commented on #154
modify podspec:

s.pod_target_xcconfig = { 'EXCLUDED_SOURCE_FILE_NAMES' => '*-dummy.m'}
s.user_target_xcconfig= { 'EXCLUDED_SOURCE_FILE_NAMES' => '*-dummy.m'}

package again,it works for me.

[2022-07-15 07:05] dlleng opened #280 "fatal error: module map file 'xx.modulemap' not found"
When I use pod package, It occurring an error.

The project I packaged:
https://github.com/dlleng/SwiftSocket

pod --version
1.11.2

macOS 11.6  Apple M1

fatal error: module map file '/var/folders/xv/yzbgvkx12hd1zc1_tlqq_b8m0000gn/T/cocoapods-3i40fpn2/build/Release-iphonesimulator/libSwiftSocket/libSwiftSocket.modulemap' not found
    1 error generated.

    ** BUILD FAILED **

    The following

[2022-07-24 09:05] ryan-cha commented on #276
➕ 1
Having same issue, too!

[2022-07-24 09:56] physxP commented on #276
I found a workaround. You basically add swift version inside modified podspec for your dependency library and host it on a private cocoapods repository.

For example for my project I needed tensorflow pod:

You can set up a private CocoaPods specs repository, and publish your custom TensorFlowLiteC framework to your private repo. You can copy this [podspec file](https://github.com/tensorflow/tenso

[2022-08-03 06:12] XinlinLiu opened #281 "How to get only device architecture without simulator architecture"
How to get only device architecture without simulator architecture

[2022-08-07 16:05] 451222664 commented on #280
Same question

[2022-08-08 10:11] vol-kulyk commented on #277
any updates?

[2022-08-16 07:29] enchantedDec commented on #273
same here....

[2022-08-16 09:08] enchantedDec commented on #281
same question here

[2022-08-18 06:49] songxing10000 commented on #270
same

[2022-08-19 16:39] aluco100 commented on #216
Hi There,

What happens if the pod is private?

Best Regards

[2022-09-07 19:50] SurpriseMF3000 commented on #278
Just search how to exclude architectures in Build settings.

[2022-09-07 19:50] #278 closed, assigned to nobody

[2022-09-14 09:39] wangleihi commented on #270
Have you solved the same problem?

[2022-09-14 11:45] lichanghong commented on #270
yes, I use xcodebuild to build binary, not cocoapods-packager

[2022-10-09 07:56] chakbun opened #282 "xcode14 BUILD FAILED"
after updated to xcode14，build failed!!!

 error: The armv7 architecture is deprecated. You should update your ARCHS build setting to remove the armv7 architecture. (in target xxxx)
    error: The armv7s architecture is deprecated. You should update your ARCHS build setting to remove the armv7s architecture. (in target xxxx)

---->  how can i update my archs setting ?

[2022-10-10 15:30] leoniralves commented on #282
Same problem here 😞

[2022-10-11 08:01] chakbun commented on #282
it works ok after i did something below

update /Library/Ruby/Gems/2.6.0/gems/cocoapods-packager-1.5.0/lib/cocoapods-packager/builder.rb

[code]

[2022-10-12 09:35] xLuo-z commented on #211
My approach is to delete the CONFIGURATION_BUILD_DIR parameter in the xcodebuild command because the value it sets conflicts with cocoapods, and then copy the product to the Pods/build and Pods/build_sim directories after the build is successful.

[code]

[2022-10-28 14:27] dhs838746225 commented on #248
这个问题有人解决吗

[2022-10-29 12:21] dhs838746225 commented on #203
me too how

[2022-10-30 04:59] xLuo-z commented on #280
see https://github.com/CocoaPods/cocoapods-packager/issues/211

[2022-11-02 03:58] ytdxxt10 commented on #282
same problem
but I try write builder.rb   error:The file “builder.rb” could not be unlocked. Could not add write permission to the file because you do not own it. Try modifying the permissions of the file in the Finder or Terminal.

[2022-11-03 10:11] chakbun commented on #282
make a copy to Desktop and you can write it, then replace original one in lib with sudo cmd

[2022-11-04 01:32] benmaxyoung commented on #282
Perfect!

[2022-11-16 03:08] ws745630 commented on #282
[code]
An error occurred when I executed the packaging command after modification

[2022-11-16 09:21] Jackie-Lee-Mr commented on #282
How i resolved it ? can you give me  help?

Command line invocation:
        /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild "GCC_PREPROCESSOR_DEFINITIONS=$(inherited) PodsDummy_Pods_MJRefresh=PodsDummy_PodPackage_MJRefresh" "ARCHS=x86_64 i386 arm64 armv7 armv7s" "OTHER_CFLAGS=-fembed-bitcode -Qunused-arguments" CONFIGURATION_BUILD_DIR=build clean build -configuration Release -target

[2022-11-16 09:22] Jackie-Lee-Mr commented on #282
can you solve it ?

[2022-11-16 09:33] Jackie-Lee-Mr commented on #282
do you solve ?

[2022-11-23 07:26] ytdxxt10 commented on #282
I didn't fix it at the time, I switched to a computer with xcode and a lower system and dealt with it temporarily